{% extends "admin/change_form.html" %}
{% load i18n %}

{% block submit_buttons_bottom %}
    {{ block.super }}
    <div class="submit-row">
        <input type="submit" value="{% trans "Изменения пользователя" %}" name="_rollback-changes">
        <input type="submit" value="{% trans "Заблокировать на год" %}" name="_block-user-for-year">
        <input type="submit" value="{% trans "Заблокировать на 3 месяца" %}" name="_block-user">
        <input type="submit" value="{% trans "Разблокировать" %}" name="_unblock-user">
    </div>
{% endblock %}