{% extends "backoffice/base.html" %}
{% block active_timer %}active{% endblock %}
{% block title %}Таймеры{% endblock %}
{% block title_mini %}{{city.name}}{% endblock %}
{% block content %}


<div class="space-6"></div>



<div class="row-fluid">
	<div class="span6">
		<div class="widget-box transparent">
			<div class="widget-body">
				<div class="widget-main no-padding">
					<table class="table table-bordered table-striped">
						<thead>
							<tr>
								<th>
									<i class="icon-caret-right blue"></i>
									Маршрут
								</th>

								<th class="hidden-phone">
									<i class="icon-caret-right blue"></i>
									Прогнозы
								</th>
							</tr>
						</thead>

						<tbody>
							{%for k,v in  time_bst.items%}
							<tr>
								<td>{{k}}</td>
								<td>{{v}}</td>
							</tr>
							{%endfor%}
						</tbody>
					</table>
				</div><!-- /widget-main -->
			</div><!-- /widget-body -->
		</div><!-- /widget-box -->
	</div>



	<div class="span6">
		<div class="widget-box transparent">
			<div class="widget-body">
				<div class="widget-main no-padding">
					<table class="table table-bordered table-striped">
						<thead>
							<tr>
								<th>
									<i class="icon-caret-right blue"></i>
									Остановка A - Остановка Б
								</th>

								<th class="hidden-phone">
									<i class="icon-caret-right blue"></i>
									Времена прохождения
								</th>
							</tr>
						</thead>

						<tbody>
							{%for k,v in  timer_bst.items%}
							<tr>
								<td>{{k}}</td>
								<td>{{v}}</td>
							</tr>
							{%endfor%}
						</tbody>
					</table>
				</div><!-- /widget-main -->
			</div><!-- /widget-body -->
		</div><!-- /widget-box -->
	</div>



</div>

<div class="hr hr32 hr-dotted"></div>

{% endblock %}