{% extends "base.html" %}{% load cache %}{% load i18n %}
{% block extra_head %}{% include "handbook/_style.html" %}{% endblock %}

{% block content %}
<div class="ui big breadcrumb">
    <a class="section" href="/">{% trans "Выбор города" %}</a>
    <i class="right angle icon divider"></i>
    <a class="section" href="/help/">{% trans "Справочник" %}</a>
    <i class="right angle icon divider"></i>
  <span class="active section">{% trans "Автобус" %}</span>
</div>

<div class="ttype">
<img src="/static/img/help/bus.png" />
</div>

<div class="ui large segment">
  <p>{% trans "Автобус – это транспортное средство, предназначенное для перевозки большого количества пассажиров по заранее определенным маршрутам. В отличие от легковых автомобилей, автобусы способны вместить большое количество людей, что делает их важным элементом общественного транспорта в городах и междугородных перевозках." %}</p>
</div>


            <div class="ui large relaxed ordered list">
                <div class="item">
                    <div class="content">
                        <div class="header">{% trans "Доступность" %}</div>
                        <div class="description">{% trans "Автобусы доступны большинству людей, так как имеют относительно низкую стоимость проезда по сравнению с другими видами транспорта, такими как такси или личный автомобиль. Кроме того, они часто предоставляют льготы для студентов, пенсионеров и людей с ограниченными возможностями." %}.</div>
                    </div>
                </div>
                <div class="item">
                    <div class="content">
                        <div class="header">{% trans "Экономичность" %}</div>
                        <div class="description">{% trans "Использование автобусов позволяет существенно сократить транспортные расходы, особенно в больших городах, где содержание личного автомобиля может быть дорогим из-за высоких цен на топливо, парковку и техническое обслуживание." %}.</div>
                    </div>
                </div>
                <div class="item">
                    <div class="content">
                        <div class="header">{% trans "Экологичность" %}</div>
                        <div class="description">{% trans "Автобусы, особенно современные модели на электричестве или с гибридными двигателями, способствуют снижению выбросов вредных веществ в атмосферу. Это важно для улучшения экологической обстановки в городах и борьбы с изменением климата." %}.</div>
                    </div>
                </div>
                <div class="item">
                    <div class="content">
                        <div class="header">{% trans "Социальное взаимодействие" %}</div>
                        <div class="description">{% trans "Автобусы способствуют социальному взаимодействию и сплочению общества, так как предоставляют людям возможность встречаться и общаться во время поездок." %}.</div>
                    </div>
                </div>
                <div class="item">
                    <div class="content">
                        <div class="header">{% trans "Уменьшение заторов" %}</div>
                        <div class="description">{% trans "Общественный транспорт, включая автобусы, помогает уменьшить количество частных автомобилей на дорогах, что способствует снижению уровня заторов и улучшению дорожной ситуации." %}.</div>
                    </div>
                </div>
                <div class="item">
                    <div class="content">
                        <div class="header">{% trans "Инфраструктура и маршруты" %}</div>
                        <div class="description">{% trans "Для эффективного функционирования автобусного транспорта необходима развитая инфраструктура, включающая остановки, терминалы и выделенные полосы для движения автобусов. Маршруты автобусов обычно тщательно планируются для охвата максимально возможного числа районов города и обеспечения удобных пересадок на другие виды общественного транспорта." %}.</div>
                    </div>
                </div>
                <div class="item">
                    <div class="content">
                        <div class="header">{% trans "Комфорт и безопасность" %}</div>
                        <div class="description">{% trans "Современные автобусы оборудованы для обеспечения комфорта пассажиров, включая удобные сиденья, кондиционеры, информационные дисплеи и Wi-Fi. Безопасность также является важным аспектом, который обеспечивается за счет регулярного технического обслуживания и соблюдения правил дорожного движения." %}.</div>
                    </div>
                </div>
                <div class="item">
                    <div class="content">
                        <div class="header">{% trans "Интеграция с другими видами транспорта" %}</div>
                        <div class="description">{% trans "Автобусы часто интегрированы с другими видами общественного транспорта, такими как метро, трамваи и пригородные поезда, что обеспечивает удобные пересадки и облегчает перемещение по городу." %}.</div>
                    </div>
                </div>
</div>
<br/>
<h3 class="ui header">{% trans "Модели" %}</h3>
<div class="ui large relaxed divided link list">
    {% for model in models %}
        <a class="item" href="/help/bus/{{model.slug}}/">{{model.name}}</a>
    {% endfor %}
</div>
<br/><br/>
{% endblock %}