{% extends "base.html" %}{% load cache %}{% load i18n %}
{% block extra_head %}{% include "handbook/_style.html" %}{% endblock %}
{% block content %}
<div class="ui big breadcrumb">
    <a class="section" href="/">{% trans "Выбор города" %}</a>
    <i class="right angle icon divider"></i>
    <a class="section" href="/help/">{% trans "Справочник" %}</a>
    <i class="right angle icon divider"></i>
  <span class="active section">{% trans "Троллейбус" %}</span>
</div>

<div class="ttype">
<img src="/static/img/help/trolleybus.png" />
</div>

<div class="ui large segment">
  <p>{% trans "Троллейбус — это электрическое транспортное средство, предназначенное для перевозки пассажиров по городским маршрутам. Он получает электроэнергию от воздушных контактных линий с помощью токоприёмников — штанг. Троллейбусы сочетают в себе черты автобуса и трамвая: маневренность автобуса и экологичность трамвая, так как работают на электричестве и не выбрасывают выхлопные газы." %}</p>
</div>


</div>
<br/>
{% endblock %}