<!doctype html>
<html lang="ru">
    <head>
        <meta charset="UTF-8" />
        <link rel="apple-touch-icon" sizes="180x180" href="https://cdn.bustime.loc/static/img/favicons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="https://cdn.bustime.loc/static/img/favicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="https://cdn.bustime.loc/static/img/favicons/favicon-16x16.png">
        <link rel="manifest" href="https://cdn.bustime.loc/static/img/favicons/site.webmanifest">
        <link rel="mask-icon" href="https://cdn.bustime.loc/static/img/favicons/safari-pinned-tab.svg" color="#ffe216">
        <link rel="shortcut icon" href="https://cdn.bustime.loc/static/img/favicons/favicon.ico">
        <meta name="msapplication-TileColor" content="#ffe216">
        <meta name="msapplication-config" content="https://cdn.bustime.loc/static/img/favicons/browserconfig.xml">
        <title>Время Автобуса</title>
        <meta name="description" content="Онлайн отображение автобусов, троллейбусов и трамваев по данным GPS в реальном времени. Маршруты городского общественного транспорта, расписание и другая информация для пассажиров.">
        <meta property="og:url" content="https://bustime.loc/">
        <meta property="og:description" content="Сервис отслеживает онлайн где сейчас едут автобусы, троллейбусы и трамваи по данным GPS. Маршруты городского транспорта, расписание и другая информация для пассажиров.">
        <meta name="keywords" content="автобусы, маршруты online, городской транспорт Калининград, где едет, движение, положение, информационное табло, в режиме реального времени, на карте, остановки, схема движения, транспорт онлайн">
        <meta property="og:title" content="Время Автобуса">
        <meta property="og:image" content="https://bustime.loc/static/img/bustime-2.0.png">
        <meta property="vk:image" content="https://bustime.loc/static/img/bustime-2.0.png">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="theme-color" content="#b30000">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="format-detection" content="telephone=no">
        <link rel="image_src" href="https://bustime.loc/static/img/bustime-2.0.png">
        <link rel="apple-touch-icon" href="https://cdn.bustime.loc/static/img/icon_60px.png" />
        <link rel="apple-touch-icon" sizes="76x76" href="https://cdn.bustime.loc/static/img/icon_76px.png" />
        <link rel="apple-touch-icon" sizes="120x120" href="https://cdn.bustime.loc/static/img/icon_120px.png" />
        <link rel="apple-touch-icon" sizes="152x152" href="https://cdn.bustime.loc/static/img/icon_152px.png" />
        <link rel=preload href="https://cdn.bustime.loc/static/fonts/fontawesome-webfont.woff2" as="font" type="font/woff2" crossorigin>
        <link rel="preload" href="https://cdn.bustime.loc/static/css/base-main-742.css" as="style">
        <link rel="stylesheet" href="https://cdn.bustime.loc/static/css/base-main-742.css" type="text/css" />
        <link rel=preload as=image href="https://cdn.bustime.loc/static/img/bustime-splash-lq.png">
    </head>

    <body>
        <div class="ui container">
            <div class="ui header" style="margin-top:.5rem; margin-bottom:1rem; font-size:30px;">
                Ошибка 500
                <div class="sub header">ошибка приложения</div>
            </div>

            <center>
                <div class="ui huge warning message">
                    Сервер не может успешно выполнить операцию.
                    <br/>Скорее всего ошибка будет исправлена в течение 5 минут.
                </div>
                <img src="https://cdn.bustime.loc/static/img/totoro.png" />
            </center>
        </div><!--container-->
    </body>
</html>