var us_sound = {% if us.sound %}1{%else%}0{%endif%};
var us_sound_plusone = {% if us.sound_plusone %}1{%else%}0{%endif%};
var us_mode = {{us.mode}};
var us_city = {{us.city.id}};
var us_gps_off = {% if us.gps_off %}1{%else%}0{%endif%};
var us_premium = {% if us.premium %}1{%else%}0{%endif%};
var us_device = "{% if device %}{{device}}{%endif%}";
var us_theme_stripes = {% if us.theme_stripes %}1{%else%}0{%endif%};
var US_CITY_POINT_X = {{us.city.point.x|stringformat:"f"}};
var US_CITY_POINT_Y = {{us.city.point.y|stringformat:"f"}};
var map, myCollection;
var busfavor = [{%for b in busfavor%}{{b.id}}{% if not forloop.last %},{%endif%}{%endfor%}];
var vk_like_pro = {% if vk_like_pro %}1{%else%}0{%endif%};
var us_theme = {{us.theme}};
var radar_mode = 0;
var city_monitor_mode = 0;
var bus_design_map = {};
var us_pro_demo = {% if us.pro_demo %}1{%else%}0{%endif%};
var ut_minutes = {% if ut_minutes %}{{ut_minutes}}{%else%}0{%endif%};
var us_id = {{us.id}};
var us_multi_all = {% if us.multi_all %}1{%else%}0{%endif%};
var us_map_show = {% if us.map_show %}1{%else%}0{%endif%};
var us_speed_show = {% if us.speed_show %}1{%else%}0{%endif%};
var lucky_day = {% if luck %}1{%else%}0{%endif%};
var timer_countable = 1;
var reg_today = {% if us.ctime.date == now.date %}1{%else%}0{%endif%};
if (!window.console) console = {log: function() {}};
{% for i in specialicons %}bus_design_map['{{i.gosnum}}'] = '{{i.img}}';{% endfor %}
{% if special_theme == "9may" %}
bus_design_map['all'] = '/static/img/side_tank.png';
bus_design_map['all_train'] = '/static/img/side_bronepoezd.png';
bus_design_map['special'] = '/static/img/side_il2.png';
{% endif %}
{% if us.theme != 0 %}
function load_extra() {
  {% if us.theme == 2 %}$.getScript("/static/js/theme-2.js");{% endif %}
  {% if us.theme == 10 %}$.getScript("/static/js/theme-10.js");{% endif %}
  {% if us.theme == 11 %}$.getScript("/static/js/theme-11.js");{% endif %}
}
{%else%}function load_extra() {}{% endif %}