{% load cache %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% spaceless %}<div class="welcome-text">
<div class="ui three column stackable grid">
  <div class="center aligned column">
    <div class="">
      <i class="fa-globe fa-3x fa brand-brown"></i>
      <br/>
      <div class="content">
        <p>{% trans "Показывает автобусы, троллейбусы и трамваи через GPS" %}</p></div>
    </div>
  </div>

  <div class="center aligned column">
    <div class="">
      <i class="fa-fighter-jet fa-3x fa brand-brown"></i>
      <div class="content">
        {% trans "Онлайн обновления в реальном времени" %}</div>
    </div>
  </div>

  <div class="center aligned column">
    <div class="">
      <i class="fa-mobile fa-3x fa brand-brown"></i>

      <div class="content">
        {% trans "Поддержка всех современных устройств" %}
        <div class="niceg" >
        <i class="fa-tablet icon"></i>
        <i class="fa-laptop icon"></i>
        <i class="fa-desktop icon"></i>
        <i class="fa-tv icon"></i>
        </div></div>
    </div>
  </div>
</div>

<br/>

{% if not us.city.sat %}
<p>{% trans "Сервис показывает местонахождение <b>автобусов, троллейбусов и трамваев</b> через систему спутникового позиционирования GPS/ГЛОНАСС. Вы можете узнать где едет общественный транспорт и принять решение когда идти на остановку." %} </p>
{% endif %}


</div>{% endspaceless %}