{% extends "base.html" %}
{% load cache %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block titlee %}{% trans "Пользовательское соглашение" %}{%endblock%}
{% block meta_descr %}{% endblock %}

{% block extra_head %}
<link rel="alternate" hreflang="x-default" href="https://bustime.loc/agreement/">
<link rel="canonical" href="https://{{ LANGUAGE_CODE }}.bustime.loc/agreement/">
{% get_available_languages as LANGUAGES %}{% for language_code, language_name in LANGUAGES %}
<link rel="alternate" hreflang="{{ language_code }}" href="https://{{ language_code }}.bustime.loc/agreement/" />
{% endfor %}o
{% endblock %}

{% block content %}

<div class="ui big breadcrumb">
    <a class="section" href="/?page=select">{% trans "Выбор города" %}</a>
    <i class="right angle icon divider"></i>
  <span class="active section">{% trans "Пользовательское соглашение" %}</span>
</div>
<div class="ui divider"></div>


<div class="ui grid">
<div class="column">
            <p>Настоящий документ представляет собой предложение Администрации сайта
                <a href="https://bustime.loc/">bustime.ru</a> (далее — «Администрация»), заключить договор
                на изложенных ниже условиях Соглашения.</p>

            <h2>1. Общие положения Пользовательского соглашения</h2>
            <p>1.1. В настоящем документе и вытекающих или связанным с ним отношениях Сторон применяются следующие термины и определения:</p>
                <p>Платформа - программно-аппаратные средства, интегрированные с Сайтом.</p>
                <p>Пользователь - дееспособное физическое лицо, присоединившееся к настоящему Соглашению в собственном интересе либо выступающее от имени и в интересах представляемого им юридического лица.</p>
                <p>Сайт - интернет-сайты, размещенные в домене bustime.ru и его поддоменах.</p>
                <p>Сервис - комплекс услуг и лицензия, предоставляемые Пользователю с использованием Платформы.</p>
                <p>Соглашение - настоящее соглашение со всеми дополнениями и изменениями.</p>
            <p>1.2. Использование вами Сервиса любым способом и в любой форме в пределах его объявленных функциональных
                возможностей, включая:</p>
            <ul>
                <li>просмотр размещенных на Сайте материалов</li>
                <li>регистрацию и/или авторизацию на Сайте</li>
                <li>размещение или отображение на Сайте любых материалов, включая но не ограничиваясь такими как:
                    тексты, гипертекстовые ссылки, изображения, аудио и видео, сведения и/или иная информация,
                </li>
            </ul>
            <p>
                создает договор на условиях настоящего Соглашения в соответствии с положениями ст.437 и 438 Гражданского
                кодекса Российской Федерации.
            </p>
            <p>1.3. Воспользовавшись любой из указанных выше возможностей по использованию Сервиса вы подтверждаете,
                что:</p>
            <ul>
                <li>Ознакомились с условиями настоящего Соглашения в полном объеме до начала использования Сервиса.</li>
                <li>Принимаете все условия настоящего Соглашения в полном объеме без каких-либо изъятий и ограничений с
                    вашей стороны и обязуетесь их соблюдать или прекратить использование Сервиса. Если вы не согласны с
                    условиями настоящего Соглашения или не имеете права на заключение договора на их основе, вам следует
                    незамедлительно прекратить любое использование Сервиса.
                </li>
                <li>Соглашение (в том числе любая из его частей) может быть изменено Администрацией без какого-либо
                    специального уведомления. Новая редакция Соглашения вступает в силу с момента ее размещения на Сайте
                    Администрации либо доведения до сведения Пользователя в иной удобной форме, если иное не
                    предусмотрено новой редакцией Соглашения.
                </li>
            </ul>

            <h2>2. Общие условия пользования Сервисом</h2>
            <p>2.1. Использование части функциональных возможностей Сервиса допускается только после прохождения
                Пользователем
                регистрации и авторизации на Сайте в соответствии с установленной Администрацией процедурой.</p>
            <p>2.2. Технические, организационные и коммерческие условия использования Сервиса, в том числе его
                функциональных возможностей доводятся до сведения Пользователей путем отдельного размещения на Сайте или
                иным способом уведомлением Пользователей.</p>
            <p>2.3. Выбранные Пользователем логин и пароль либо авторизующие ссылки в письмах от Сайта являются
                необходимой и достаточной информацией для доступа Пользователя на Сайт. Пользователь не имеет права
                передавать свои логин, пароль и авторизующие ссылки из писем третьим лицам, несет полную ответственность
                за их сохранность, самостоятельно выбирая способ их хранения.</p>

            <h2>3. Лицензия на использование Сайта и допустимое использование Сервиса</h2>
            <p>3.1. Администрация предоставляет Пользователю право безвозмездного функционального использования
                Платформы и Сайта на условиях простой (неисключительной) непередаваемой лицензии в пределах
                функциональных возможностей Сервиса.</p>
            <p>3.2. Администрация вправе устанавливать лимиты по объему и составу размещаемых Пользователем
                информационных материалов, а также вводить иные технические ограничения использования Платформы и Сайта,
                которые время от времени будут доводиться до сведения Пользователей в форме и способом по выбору
                Администрации.</p>
            <p>3.3. Использование Платформы и Сайта иными способами строго запрещены.</p>

            <h2>4. Обязательства Пользователя</h2>
            <p>Принимая условия настоящего Соглашения, вы подтверждаете и гарантируете, что:</p>
            <p>4.1. Вы обладаете всеми необходимыми правами и полномочиями для заключения Договора на использование
                Сервиса и его исполнения;</p>
            <p>4.2. Использование Сервиса будет осуществляться вами исключительно для целей, разрешенных настоящим
                Соглашением с соблюдением его положений, а равно требований применимого права и общепринятой
                практики;</p>
            <p>4.3. Вы не будете совершать каких-либо действий, которые вступают в противоречие или препятствуют
                предоставлению Сервиса или работе соответствующего оборудования, сетей, или программного обеспечения, с
                помощью которых предоставляется Сервис;</p>
            <p>4.4. Использование вами Сервиса для конкретных целей не нарушает имущественных и/или личных
                неимущественных прав третьих лиц, а равно запретов и ограничений, установленных применимым правом,
                включая без ограничения: авторские и смежные права, права на товарные знаки, знаки обслуживания и
                наименования мест происхождения товаров, права на промышленные образцы, права на использование
                изображений людей, предоставленные вами материалы не содержит информации и/или образов, оскорбляющих
                честь, достоинство и деловую репутацию лиц, пропагандирующих насилие, порнографию, наркотики, расовую
                или национальную вражду, и вами получены все необходимые разрешения от уполномоченных лиц в связи с
                использованием таких материалов.</p>

            <h2>5. Лицензия на использование пользовательских материалов</h2>
            <p>5.1. Принимая условия настоящего Соглашения, вы безвозмездно предоставляете Администрации право
                использования (разрешение на использование) материалов, который вы добавляете (размещаете или
                транслируете) на Сайт.</p>
            <p>5.2. Указанные право и/или разрешение на использование материалов предоставляются Администрации
                одновременно с добавлением вами таких материалов на Сайт на весь срок действия исключительных прав на
                объекты интеллектуальной собственности или защиты неимущественных прав на указанные материалы для
                использования на территории всех стран мира.</p>
            <p>5.3. В рамках предоставленной Администрации простой (неисключительной) лицензии разрешается использование
                материалов следующими способами:</p>
            <ul>
                <li>воспроизводить материалы, т.е. совершать изготовление одного или более экземпляров материалов в
                    любой материальной форме, а также их запись в память электронного устройства (право на
                    воспроизведение);
                </li>
                <li>распространять экземпляры материалов, т.е. предоставлять доступ к воспроизведенному в любой форме
                    материалу, в том числе сетевыми и иными способами, а также путем продажи, проката, сдачи внаем,
                    предоставления взаймы, включая импорт для любой из этих целей (право на распространение);
                </li>
                <li>публично показывать материалы (право на публичный показ);</li>
                <li>публично исполнять материалы (право на публичное исполнение);</li>
                <li>сообщать материалы таким образом, при котором любое лицо может иметь доступ к нему в интерактивном
                    режиме из любого места и в любое время по своему выбору (право на доведение до всеобщего сведения);
                </li>
                <li>модифицировать материалы, т.е. переделывать или другим образом перерабатывать материалы, включая
                    перевод материалов с одного языка на другой (право на переработку);
                </li>
                <li>право переуступить все или часть полученных прав третьим лицам (право на сублицензирование).</li>
            </ul>

            <h2>6. Ограничения</h2>
            <p>Соглашаясь с условиями настоящего Соглашения, вы понимаете и признаете, что:</p>
            <p>6.1. К отношениям сторон по предоставлению Сервиса на безвозмездной основе не подлежат применению
                положения законодательства о защите прав потребителей.</p>
            <p>6.2. Сервис предоставляется на условиях «как есть», в связи с чем вам не представляются какие-либо
                гарантии, что Сервис будет соответствовать вашим требованиям; услуги будут предоставляться непрерывно,
                быстро, надежно и без ошибок; результаты, которые могут быть получены с использованием Сервиса, будут
                точными и надежными; качество какого-либо продукта, услуги, информации и пользовательских материалов,
                полученных с использованием Сервиса, будет соответствовать вашим ожиданиям; все ошибки в программном
                обеспечении Сервиса будут исправлены.</p>
            <p>6.3. Всю ответственность за содержание материалов и соответствие его требованиям применимого права несет
                лицо, создавшее данные материалы и/или добавившее его на Сайт.</p>
            <p>6.4. Администрация никак не связана с материалами, предоставленными и/или размещенными (в том числе
                транслируемым) Пользователями на Сайте, и не осуществляет проверку содержания, подлинности и
                безопасности этих материалов либо их компонентов, а равно их соответствия требованиям применимого права,
                и наличия у Пользователей необходимого объема прав на его использование.</p>
            <p>6.5. В частности вам запрещается использование Сервиса для:</p>
            <ul>
                <li>размещения и/или распространения контрафактных материалов;</li>
                <li>размещения и/или распространения материалов порнографического характера, а равно пропаганды
                    порнографии и детской эротики, и рекламы интимных услуг;
                </li>
                <li>размещения и/или распространения любой иной запрещенной информации, включая материалы,
                    экстремистского характера, а также направленных на ущемление прав и свобод человека по признакам
                    расовой и национальной принадлежности, вероисповедания, языка, и пола, подстрекающие к совершению
                    насильственных действий в отношении человека, либо к бесчеловечному обращению с животными,
                    призывающие к совершению иных противоправных действий, в том числе разъясняющие порядок изготовления
                    и применения оружия, наркотических средств и их прекурсов, и т.д.;
                </li>
                <li>преимущественного или исключительного размещения ссылок на другие сайты;</li>
                <li>распространения рекламных материалов в личных сообщениях иным Пользователям без получения их
                    предварительного согласия на их получение (СПАМ);
                </li>
                <li>ограничения с помощью пароля или иным способом доступа к файлам, размещенным на Сайте Администрации
                    или транслируемым на него.
                </li>
            </ul>
            <p>6.6. Несмотря на установленный запрет, при использовании Сервиса вы можете получить материалы, которые
                можете счесть содержащими информацию оскорбительного или непристойного характера, а также в иной форме
                нарушающими применимое право, права и/или интересы третьих лиц.</p>
            <p>6.7. В случае обнаружения нарушения ваших прав и/или интересов в связи с предоставлением Сервиса, в том
                числе незаконных размещением материалов иным Пользователем, вам следует сообщить об этом Администрации.
                Для этого вам необходимо направить Администрации письмо на электронную почту с подробным изложением
                обстоятельств нарушения и гипертекстовой ссылкой на страницу Сайта, содержащую материалы, которыми
                нарушаются ваши права и/или интересы.
            <p>6.8. В случае возникновения каких-либо претензий третьих лиц в отношении нарушения любых имущественных
                и/или личных неимущественных прав третьих лиц, а равно установленных законодательством запретов или
                ограничений вы обязаны по требованию Администрации пройти официальную идентификацию, предоставив
                Администрации нотариально заверенное обязательство урегулировать возникшие претензии собственными силами
                и за свой счет с указанием своих паспортных данных.</p>
            <p>6.9. Администрация оставляет за собой право удалить любые материалы с Сайта либо временно ограничить
                доступ к ним в одностороннем порядке без объяснения причин.</p>
            <p>6.10. В случае многократного или грубого нарушения условий настоящего Соглашения и/или требований
                законодательства, Администрация оставляет за собой право заблокировать вашу учетную запись (аккаунт)
                целиком, удалить его либо иным образом ограничить (прекратить) предоставление Сервиса.</p>
            <p>6.11. В случае привлечения Администрации к ответственности или наложения на нее взыскания в связи с
                допущенными вами нарушениями прав и/или интересов третьих лиц, а равно установленных законодательством
                запретов или ограничений, вы обязаны в полном объеме возместить убытки Администрации.</p>
            <p>6.12. Администрация не несет ответственности за использование кем бы то ни было общедоступных
                персональных данных Пользователей.</p>
            <p>6.13. При любых обстоятельствах ответственность Администрации ограничена 1 000 (Одной тысячью) рублей и возлагается на него исключительно при наличии в ее действиях вины.</p>

            <h2>7. Уведомления</h2>
            <p>7.1. Вы соглашаетесь получать от Администрации на указанный в вашем профиле на Сайте электронный адрес
                информационные или рекламные электронные сообщения (далее — «письма»).</p>
            <p>7.2. Администрация вправе использовать письма для информирования Пользователя о возможностях Платформы и
                (или) Сайта и/или об изменении в размещенных на них информационных ресурсах.</p>

            <h2>8. Условия использования персональных данных</h2>
            <p>8.1. Присоединяясь к условиям настоящего Соглашения, вы даете настоящее письменное согласие на
                автоматизированную обработку предоставляемых персональных данных в целях заключения договора на условиях
                настоящего Соглашения, а также его последующего исполнения.</p>
            <p>8.2. В случаях, допускаемых функциональными возможностями Сервиса, вы самостоятельно определяете степень
                доступности своих персональных данных иным пользователям Интернет.</p>
            <p>8.3. Вы признаете и соглашаетесь, что в случае размещения вами своих персональных данных с использованием
                Сервиса способом, предоставляющим возможность их получения пользователями Интернет, ваши персональные
                данные считаются общедоступными. Вы осознаете также, что ваши персональные данные считаются
                общедоступными в случаях, когда на них в соответствии с федеральными законами не распространяется
                требование соблюдения конфиденциальности.</p>

            <h2>9. Прочие условия</h2>
            <p>9.1. Зарегистрированный Пользователь самостоятельно определяет условия и порядок использования созданного
                им аккаунта (профиля), которые однако ни при каких условиях не могут противоречить настоящему
                Соглашению.</p>
            <p>9.2. Настоящее Соглашение, порядок его заключения и исполнения, а также вопросы, не урегулированные
                настоящим Соглашением, регулируется действующим законодательством Российской Федерации.</p>
            <p>9.3. Все споры по Соглашению или в связи с ним подлежат рассмотрению в суде по месту нахождения
                Администрации в соответствии с действующим процессуальным правом Российской Федерации.</p>
            <p>9.4. Настоящее Соглашение может быть изменено или прекращено Администрацией в одностороннем порядке без
                предварительного уведомления Пользователя и без выплаты какой-либо компенсации в связи с этим.</p>

            <p>9.5. Действующая редакция настоящего Соглашения размещена на Сайте по адресу:
                <a href="https://{{domain}}/agreement/">https://{{domain}}/agreement/</a></p>

            <p>{% trans "Редакция от" %} 18 {% trans "сентября" %} 2018 года.</p>
            <div class="ui divider"></div>
</div></div>



{% endblock %}