{% extends "base.html" %}{% load cache %}{% load l10n %}
{% block titlee %}Аномалии{% endblock %}
{% block meta_descr %}Аномалии поведения единиц общественного транспорта{% endblock %}

{% block extra_head %}
    <script src="https://cdn.bustime.loc/static/js/anomalies.js" type="text/javascript"></script>
    <style>
        #lmap {
            height: 550px;
        }

        .emap {
            width: 290px;
            height: 290px;
        }
    </style>

{% endblock %}

{% block content %}

    <script type="application/javascript">
        {% include "_js_init.html" %}
        var US_CITY_POINT_X = {{us.city.point.x|stringformat:"f"}};
        var US_CITY_POINT_Y = {{us.city.point.y|stringformat:"f"}};
        var vue_data = {events: []};
        var city_id ={{us.city.id}};
    </script>

    <div id="lmap"></div>

    <div class="ui center aligned grid">
        <div class="column">
            <div id="lmapzzz"></div>
        </div>
    </div>


    <h2 class="ui header">Автобусные аномалии в {{ city.name_gde }}</h2>

    <div class="ui button get_events">get events</div>

    <br/><br/>
    <div id="app">
        <div></div>
        {% verbatim %}
            <div class="ui cards all_events_space">
                <div class="card" v-for="e in vue_data.events">
                    <div class="image">
                        <div :id="'emap_' +  e.uniqueid + '_' +  e.x" class="emap"></div>
                    </div>
                    <div class="content">
                        <div class="header">#bus_get({{ e.bus_id }})</div>
                        <div class="meta">
                            <span class="date">{{ e.gosnum }} {{ e.k }}</span>
                        </div>
                        <div class="description">
                            timestamp:{{ e.timestamp }}<br/>
                            timestamp_prev:{{ e.timestamp_prev }}<br/>
                            last_changed: {{ e.last_changed }}<br/>
                            last_point_update: {{ e.last_point_update }}<br/>
                            nearest:{{ e.busstop_nearest }}<br/>
                            nearest_prev:{{ e.busstop_prev }}<br/><br/>


                            speed/heading: {{ e.speed }}/{{ e.heading }}<br/>
                            ramp/sleeping/zombie: {{ e.ramp }}/{{ e.sleeping }}/{{ e.zombie }}<br/>
                            x,y: {{ e.x }}, {{ e.y }}<br/>
                            x,y prev: {{ e.x_prev }}, {{ e.y_prev }}<br/>
                        </div>
                    </div>
                    <div class="extra content">
                        dir={{ e.direction }}, dchange={{ e.dchange }}
                    </div>
                </div>
            </div>
        {% endverbatim %}
    </div>
    <div class="ui container"></div>
{% endblock %}