{% extends "base.html" %}{% load cache %}{% load i18n %}

{% block extra_head %}
{% include "_open-letter-for-transport-data.html" %}
{% endblock %}

{% block content %}

<div class="ui big breadcrumb">
    <a class="section" href="/">{% trans "Выбор города" %}</a>
    <i class="right angle icon divider"></i>
  <span class="active section">{% trans "Блог" %}</span>
</div>

<h1 class="ui header">Практические рекомендации по улучшению навигационных данных</h1>
<h2 class="ui header">Выбор аппаратуры спутниковой навигации для транспортных средств: ЭРА-ГЛОНАСС и альтернативы</h2>
<img class="ui image" src="/static/img/articles/better-data-05.webp" />
<p>В России функционируют два основных типа аппаратуры спутниковой навигации для транспортных средств (ТС): система "ЭРА-ГЛОНАСС" и альтернативные системы (Автограф, Galileo и другие). Система "ЭРА-ГЛОНАСС" строго регулируется государственными законами и предназначена для передачи данных в Федеральную службу по надзору в сфере транспорта.</p>
<p>В отличие от "ЭРА-ГЛОНАСС", альтернативные системы навигации могут устанавливаться различными организациями и передавать данные в разнообразные сервисы. Владельцам транспортных средств, как правило, предоставляется интерфейс для мониторинга состояния ТС, а также сервис по техническому обслуживанию аппаратуры.</p>
<p>Выбор подходящей системы навигации может занять несколько месяцев самостоятельных исследований или может быть упрощён с помощью консультаций специалистов навигационных сервисов. Специалисты готовы предложить установку системы, которая, по их мнению, наилучшим образом соответствует потребностям клиента.</p>
<p>В нашей статье мы особенно хотим обратить внимание владельцев коммерческого пассажирского транспорта на выбор систем навигации, не входящих в состав "ЭРА-ГЛОНАСС". Коммерческий транспорт, не оснащённый надлежащей аппаратурой, не может быть лицензирован, что делает навигационную систему критически важной для получения разрешения на маршрут.</p>
<p>Системы "ЭРА-ГЛОНАСС" обычно устанавливаются на транспортных средствах на этапе производства или при ввозе в Россию. Важно требовать наличие документации на систему "ЭРА-ГЛОНАСС" при покупке бывшего в употреблении транспорта, или же быть готовым к оплате установки системы самостоятельно.</p>


  <h2 class="ui header">Выбор аппаратуры спутниковой навигации для транспортных средств</h2>
    <img src="/static/img/articles/better-data-06.webp" />
  <p>Выбор подходящей модели аппаратуры спутниковой навигации (АСН) может зависеть от нескольких критических параметров:</p>
  <ul class="ui list">
    <li>Требования местного муниципалитета о передаче данных конкретному оператору</li>
    <li>Стоимость АСН и её обслуживания</li>
    <li>Удобство и полнота данных, предоставляемых оператором</li>
  </ul>
  <p>Рассмотрим каждый из этих аспектов по порядку.</p>

  <div class="ui raised segment">
    <h3 class="ui header">Требования местного муниципалитета</h3>
    <p>Требования местного муниципалитета могут существенно ограничить выбор АСН, поскольку определённые операторы работают только с конкретными моделями. Важно уточнить у оператора список доступных моделей АСН и их стоимость.</p>
    <p>Спросите у оператора следующие детали о каждом устройстве:</p>
    <ul class="ui list">
      <li>Поддержка протокола ЕГТС</li>
      <li>Возможность настройки устройства с помощью СМС</li>
      <li>Тип антенн (встроенные или внешние)</li>
      <li>Наличие встроенного аккумулятора</li>
      <li>Возможность автоматического объявления остановок, если это важно для вас</li>
    </ul>
    <p>Запишите всю информацию для дальнейшего сравнения.</p>
  </div>

  <div class="ui raised segment">
    <h3 class="ui header">Стоимость и обслуживание</h3>
    <p>Обзвоните всех доступных операторов в вашем регионе, чтобы сравнить стоимость АСН, установки и обслуживания. Узнайте также о стоимости передачи данных оператору, если это требуется муниципалитетом.</p>
  </div>

  <div class="ui raised segment">
    <h3 class="ui header">Удобство и возможности отслеживания</h3>
    <p>Посетите операторов, чтобы оценить удобство предлагаемых систем отслеживания. Попросите продемонстрировать, как будет выглядеть отслеживание вашего транспорта, какие отчёты и функции предлагаются:</p>
    <ul class="ui list">
      <li>Создание маршрутов и геозон</li>
      <li>Получение отчётов о работе транспорта</li>
      <li>Возможность получения утренних отчётов о рейсах</li>
    </ul>
    <p>Чем больше функциональных возможностей, тем лучше. Ставьте плюсы устройствам, которые соответствуют вашим требованиям.</p>
  </div>

  <div class="ui raised segment">
    <h3 class="ui header">Прочие соображения</h3>
    <p>Не стесняйтесь задавать операторам любые вопросы, даже если они кажутся вам простыми. Не поддавайтесь на предложения о дополнительных функциях, таких как датчики уровня топлива, которые могут быть установлены позже или нецелесообразны для городского пассажирского транспорта.</p>
  </div>

  <p>После сбора всех данных по доступным моделям АСН, выполните следующие шаги для окончательного выбора:</p>
  <div class="ui ordered list">
    <div class="item">Отсортируйте список АСН по цене и стоимости обслуживания.</div>
    <div class="item">Поставьте плюсик устройствам, поддерживающим протокол ЕГТС.</div>
    <div class="item">Поставьте плюсик устройствам, которые можно настроить с помощью СМС.</div>
    <div class="item">Поставьте плюсик устройствам со встроенными антеннами.</div>
    <div class="item">Поставьте плюсик устройствам со встроенным аккумулятором.</div>
    <div class="item">Выберите устройство, приемлемое по цене и стоимости обслуживания, с наибольшим количеством плюсиков.</div>
  </div>

  <h3 class="ui header">Почему важны эти характеристики?</h3>
  <div class="ui bulleted list">
    <div class="item">
      <strong>Протокол ЕГТС:</strong> Требования к этому протоколу варьируются в различных законодательных актах. Его наличие обеспечивает соответствие федеральным стандартам и предотвращает возможные правовые и технические проблемы из-за его отсутствия.
    </div>
    <div class="item">
      <strong>Управление через СМС:</strong> Это повышает надёжность системы, позволяя оперативно решать возникающие проблемы при потере связи с сервером.
    </div>
    <div class="item">
      <strong>Встроенные антенны:</strong> Минимизируют риск возникновения технических проблем, связанных с износом разъёмов и повреждением проводов, что обычно происходит у внешних антенн.
    </div>
    <div class="item">
      <strong>Встроенный аккумулятор:</strong> Обеспечивает продолжение работы устройства даже после отключения питания, что позволяет отслеживать местоположение ТС в критических ситуациях.
    </div>
  </div>



  <h2 class="ui header">Выбор СИМ-карты и сотового оператора для аппаратуры спутниковой навигации</h2>
  <img src="/static/img/articles/better-data-02.webp" />
  <p>Для успешной передачи данных с АСН на сервер необходима СИМ-карта, работающая в сети сотового оператора. Подход к выбору СИМ-карты имеет свои особенности:</p>

  <div class="ui raised segment">
    <h3 class="ui header">Выбор тарифа</h3>
    <p>Ищите специальные тарифы для управления удалёнными устройствами, которые предлагают многие сотовые операторы. Эти тарифы обычно не имеют фиксированных лимитов на интернет-трафик, что идеально подходит для АСН, поскольку они генерируют относительно мало данных.</p>
    <p>Важные аспекты тарифа:</p>
    <ul class="ui list">
      <li>Может передать до 200 мегабайт в месяц</li>
      <li>Возможность отправки и приёма СМС</li>
      <li>Опция голосовой связи, если необходимо взаимодействие с водителем</li>
    </ul>
  </div>

  <div class="ui raised segment">
    <h3 class="ui header">Выбор оператора</h3>
    <p>Посетите центральный офис продаж выбранного сотового оператора, где сотрудники, как правило, более компетентны в вопросах корпоративных сервисов, включая управление удалёнными устройствами.</p>
    <p>Корпоративные клиенты часто получают лучшие условия:</p>
    <ul class="ui list">
      <li>Больше скидок и бонусов при покупке большего количества СИМ-карт</li>
      <li>Помегабайтная тарификация, которая может существенно снизить стоимость обслуживания</li>
    </ul>
  </div>

  <p>Выбор подходящего тарифа и оператора позволит оптимизировать расходы и обеспечить надёжное соединение для вашей аппаратуры спутниковой навигации.</p>


  <h2 class="ui header">Оснащение транспортных средств аппаратурой спутниковой навигации</h2>
  <img src="/static/img/articles/better-data-03.webp" />
  <p>Подготовка, настройка и установка АСН, как правило, производятся навигационным оператором, который также будет заниматься обслуживанием оборудования. Важно обсудить некоторые аспекты установки перед началом работ:</p>

  <div class="ui raised segment">
    <h3 class="ui header">Виды установки АСН</h3>
    <div class="ui bulleted list">
      <div class="item"><strong>Скрытая установка:</strong> АСН устанавливается так, чтобы водитель не мог видеть и доступаться к устройству и его компонентам.</div>
      <div class="item"><strong>Открытая установка:</strong> АСН и его компоненты устанавливаются открыто, что позволяет водителю видеть оборудование.</div>
    </div>
    <p>Рекомендуется проводить открытую установку и информировать об этом водителя и автоэлектрика, чтобы повысить ответственность за сохранность и несанкционированное вмешательство в работу АСН.</p>
  </div>

  <div class="ui raised segment">
    <h3 class="ui header">Подключение к электросети ТС</h3>
    <p>Питание АСН желательно подключать к таким точкам бортовой сети ТС, отключение которых может затруднить эксплуатацию ТС, например, к реле поворотов или габаритных огней. Важно также обеспечить, чтобы при отключении "массы" АСН также обесточивалась.</p>
  </div>

  <div class="ui raised segment">
    <h3 class="ui header">Размещение и подключение внешних антенн</h3>
    <p>Если АСН оснащена внешними антеннами, их разъемы желательно опломбировать, чтобы предотвратить несанкционированное отключение или повреждение.</p>
  </div>

  <div class="ui raised segment">
    <h3 class="ui header">Выбор места для АСН в ТС</h3>
    <p>Место для установки АСН должно быть доступно для обслуживания и защищено от попадания влаги и грязи. Если АСН оснащена встроенными антеннами, важно избегать полного окружения металлическими элементами ТС, чтобы не экранировать сигналы.</p>
    <p>Пример такого места — блок реле электрооборудования в автобусе ПАЗ, расположенный на панели под кожухом над дверью водителя.</p>
  </div>

  <div class="ui raised segment">
    <h3 class="ui header">Предотвращение вмешательства в работу АСН</h3>
    <p>Для обеспечения надежной работы АСН необходим комплекс мероприятий: аппаратных и административных. Важно обучить персонал правильному обращению с АСН и установить ответственность за вмешательство в её работу.</p>
    <p>Несмотря на все предосторожности, полностью исключить вмешательство невозможно, но можно минимизировать потенциальный ущерб и быстро реагировать на любые инциденты.</p>
  </div>


  <h2 class="ui header">Контроль водителей и управление данными в Bustime</h2>
  <img src="/static/img/articles/better-data-04.webp" />
  <p>Мониторинг и контроль действий водителей часто вызывает юридические и технические вопросы. Ниже представлены некоторые аспекты, которые необходимо учитывать:</p>

  <div class="ui raised segment">
    <h3 class="ui header">Ответственность и контроль</h3>
    <p>Перевозчик, а не департамент, контролирует действия водителя в рутинной деятельности, такие как соблюдение графика, происшествия и аварии. Ответственность за нарушение передачи данных может быть строго регламентирована, но важно помнить, что предложение штрафов или неоплаты за отдельные рейсы может нарушать Трудовой кодекс РФ.</p>
  </div>

  <div class="ui raised segment">
    <h3 class="ui header">Законность использования данных для наказания</h3>
    <p>Прежде чем использовать данные с сайта Bustime для применения мер ответственности, необходимо официально зарегистрировать платформу как средство измерений, получить соответствующий сертификат и акт поверки. Это обеспечит законность использования данных в судебных и административных процессах.</p>
  </div>

  <div class="ui raised segment">
    <h3 class="ui header">Определение причин пропадания сигнала</h3>
    <p>Определить точную причину пропадания сигнала GPS может быть сложно. Возможные причины включают неплатёж за СИМ-карты, неисправность GPS-антенны, технические сбои в подключении или неисправности сервера. Для разграничения намеренного отключения оборудования от аппаратных сбоев требуются дополнительные инструменты и процедуры проверки.</p>
  </div>

  <p>Точное различие между аппаратным сбоем и намеренным вмешательством часто невозможно определить без детального анализа и инвентаризации всех возможных факторов, влияющих на работу системы.</p>



  <h2 class="ui header">Контроль за работой транспортных средств</h2>
  <img src="/static/img/articles/better-data-01.webp" />
  <p>Контроль за транспортными средствами, оснащёнными аппаратурой спутниковой навигации (АСН), осуществляется с помощью программного обеспечения, предоставляемое поставщиком АСН. Важность выбора надёжного поставщика и тестирования предоставляемых им возможностей не может быть недооценена.</p>

  <div class="ui raised segment">
    <h3 class="ui header">Методы контроля</h3>
<p>В идеале, контроль осуществляется в реальном времени с помощью диспетчерской службы. В случаях, когда организация такой службы экономически невыгодна, контроль проводится постфактум — через анализ отчётов о выполнении рейсов, выходе на линию и других операционных данных.</p>
  </div>

  <div class="ui raised segment">
    <h3 class="ui header">Использование журнала для контроля нашего сайта</h3>
    <p>Журнал активности транспортных средств предоставляет возможность наглядного просмотра данных о работе ТС:</p>
    <ul class="ui list">
      <li>Для просмотра журнала выберите в меню пункт "Журнал".</li>
      <li>Шкала активности для каждой машины показывает временные интервалы работы. Клик по делению шкалы (кроме серого) позволяет просмотреть трек машины.</li>
      <li>Серые деления означают отсутствие сигнала, что может быть связано с техническими проблемами или временным отсутствием данных.</li>
    </ul>
    <p>Анализ треков помогает определить, были ли отклонения от запланированного маршрута и адекватность поведения водителя на маршруте.</p>
  </div>

  <p>Такой подход позволяет не только контролировать выполнение задач, но и оперативно реагировать на возможные отклонения и проблемы в работе транспортных средств.</p>



  <h2 class="ui header">Настройка АСН пассажирских перевозчиков на передачу данных<div class="ui orange label">обновлено в 2023</div></h2>
  <p>Аппаратура спутниковой навигации (АСН) пассажирских перевозчиков должна быть настроена на передачу данных по протоколу ЕГТС на сервер АО "ГЛОНАСС". Это требование законодательства Российской Федерации и включает несколько ключевых шагов:</p>

  <div class="ui raised segment">
    <h3 class="ui header">Заключение договора с АО "ГЛОНАСС"</h3>
    <p>Договор между перевозчиком и АО "ГЛОНАСС" обычно готовит уполномоченный региональный интегратор. Это связано с тем, что перевозчики сталкиваются с трудностями при подготовке необходимого пакета документов, а АО "ГЛОНАСС" предпочитает не взаимодействовать напрямую с отдельными перевозчиками.</p>
  </div>

  <div class="ui raised segment">
    <h3 class="ui header">Ретрансляция данных</h3>
    <p>По заявке перевозчика, АО "ГЛОНАСС" может ретранслировать данные на сервера региональных интеграторов. Первый сервер обслуживается бесплатно, а каждый следующий подключаемый сервер требует оплаты.</p>
  </div>

  <div class="ui raised segment">
    <h3 class="ui header">Личный кабинет перевозчика</h3>
    <p>У каждого перевозчика, заключившего договор, есть личный кабинет на сайте АО "ГЛОНАСС". Управление этим кабинетом, включая активацию функций ретрансляции данных, обычно осуществляет региональный интегратор. Многие перевозчики даже не осведомлены о наличии такого кабинета и его возможностях.</p>
  </div>

  <p>Эти меры необходимы для обеспечения соответствия требованиям федерального законодательства и оптимизации процесса управления данными транспортных средств.</p>



<br/><br/><br/>

{% endblock %}