{% extends "base.html" %}
{% block titlee %}{{bus.ttype_name}} {{bus.name}}, {{bus.city.name}}{% endblock %}
{% block meta_descr %}{% endblock %}

{%block js%}{% endblock %}
{%block extra_head%}
<link rel="canonical" href="http://www.bustime.ru{{bus.get_absolute_url_classic}}">
<meta name="robots" content="noindex, follow"/>
<meta http-equiv="refresh" content="60">
<style>
.ft {
 color:#555;
 font-size:1.33em;
}
@media (max-width: 767px) {
.ft {
  font-size:16px;
}
</style>
{% endblock %}

{% block nav_classic %}active{%endblock%}
{%block content%}
<div class="ui breadcrumb">
  <a class="section" href="/">Главная</a><div class="ui divider"> / </div>

  <a class="section" href="http://www.bustime.ru/{{city.slug}}/">
  Общественный транспорт в {{city.name_gde}}</a><div class="ui divider"> / </div>

  <a class="section" href="http://www.bustime.ru/{{city.slug}}/classic/">
  Классическая версия</a><div class="ui divider"> / </div>
  <!--<a class="section" href="http://www.bustime.ru/{{city.slug}}/classic/#ttype{{bus.ttype}}">{{bus.ttype_names}}</a><div class="ui divider"> / </div>-->
  <div class="active section">{{bus.ttype_name}} {{bus.name}}</div>
</div>
<div class="ui divider"></div>

{% if device == "opera_mini" %}
 <div class="ui warning message">
 Вы на классической версии сайта так как ваш браузер <b>Opera Mini</b> не поддерживает JavaScript.<br/><br/>
 Пожалуйста воспользуйтесь браузером Chrome чтобы получить преимущество полной версии сайта Bustime
 </div>
{%endif%}


<h1 class="ui header center aligned">{{bus.ttype_name}} {{bus.name}}
<div class="sub header">{{bus.city.name}}</div>
</h1>
<div class="ui center aligned  grid"><div class="column">
<a class="ui button green" href="./">Обновить</a>
</div></div>


<div class="ui two column stackable grid">
<div class="column">

<h2 class="ui header">{{bus.napr_a}}</h2>
<table class="ui table">
{%for r in route0%}
<tr><td>
{% for key, value in time_bst.items %}
{% if key == r.id and value %}<div class="ft">{{value}}</div>{% endif %}
{% endfor %}
</td><td>{%if r.id in bdata_mode0.0.stops %}{%endif%}{{r.busstop.name}}
{%if r.id in bdata_mode0.0.stops %}<br/>
{%if bus.ttype == 0 %}<img src="/static/img/bus_side.png" alt="Автобус">{%endif%}
 {%if bus.ttype == 1 %}<img src="/static/img/side_trolley.png" alt="Троллейбус">{%endif%}
 {%if bus.ttype == 2 %}<img src="/static/img/side_tram.png" alt="Трамвай">{%endif%}
{%endif%}
</td></tr>
{%endfor%}
</table>

</div>

<div class="column">
<h2 class="ui header">{{bus.napr_b}}</h2>
<table class="ui table">
{%for r in route1%}
<tr><td>
{% for key, value in time_bst.items %}
{% if key == r.id and value %}<div class="ft">{{value}}</div>{% endif %}
{% endfor %}
</td><td>{%if r.id in bdata_mode0.1.stops %}{%endif%}{{r.busstop.name}}
{%if r.id in bdata_mode0.1.stops %}<br/>
{%if bus.ttype == 0 %}<img src="/static/img/bus_side.png" alt="Автобус">{%endif%}
 {%if bus.ttype == 1 %}<img src="/static/img/side_trolley.png" alt="Троллейбус">{%endif%}
 {%if bus.ttype == 2 %}<img src="/static/img/side_tram.png" alt="Трамвай">{%endif%}
{%endif%}
</td></tr>
{%endfor%}
</table>
</div>
</div>


{% endblock %}
