{% extends "base.html" %}{% load l10n %}{% load i18n %}
{% block titlee %}Детектор {{city}}{% endblock %}
{% block meta_descr %}{% endblock %}

{%block extra_head%}
<script src="https://cdn.bustime.loc/static/js/detector.js" type="text/javascript"></script>
<style>
#lmap {
    height: 550px;
}
</style>
{% endblock %}

{% block nav_route %}active{%endblock%}
{%block content%}
<div class="ui big breadcrumb">
    <a class="section" href="/">{% trans "Выбор города" %}</a>
    <i class="right angle icon divider"></i>
    <a class="section" href="/">Главная</a>
    <i class="right angle icon divider"></i>
    <a class="section" href="/{{city.slug}}/">{{city.name}}</a></a>
    <i class="right angle icon divider"></i>
   <div class="active section">{{bus.ttype_name}} {{bus.name}}</div>
</div>
<div class="ui divider"></div>

<!--<h1 class="ui header center aligned">{{bus.ttype_name}} {{bus.name}}
<div class="sub header">{{bus.city.name}}</div>
</h1>-->

<b>Кликните на карту раз и два</b>
<br/>
<input type="hidden" id="city_id" value="{{city.id}}">
<input type="hidden" id="city_name" value="{{city.slug}}">
<div class="ui center aligned grid">
   <div class="column">
   <div id="lmap"></div>
   <div class="ui message result"></div>
   </div>
</div>

<table class="ui table">
  <tbody>
      <tr>
<td><div class="ui input"><input name="p1"/></div></td>
<td><div class="ui input"><input name="p2"/></div></td>
</tr>
  </tbody>
</table>

<script>
{% include "_js_init.html" %}
var route = {0:[], 1:[]};
var bus_id = {{bus.id}};
route[0] = [
  {%for r in route0%}
  {{r.busstop.id}},{%endfor%}
];
route[1] = [
  {%for r in route1%}
  {{r.busstop.id}},{%endfor%}
];

var busstops = {
{% for b in busstops %}
 {{b.id}}: {id: {{b.id}}, name:"{{b.name}}", moveto:"{% if b.moveto %}{{b.moveto}}{%endif%}", x:{{b.point.x|unlocalize}}, y:{{b.point.y|unlocalize}} },
{% endfor %} };
</script>
{% endblock %}
