{% extends "base.html" %}
{% load cache %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block titlee %}{% trans "Справочник" %}{% endblock %}
{% block meta_descr %}{% trans "Раздел помощи поможет разобраться с интерфейсом сайта" %}. {% trans "Здесь вы найдете ответы на вопросы, а также описание дополнительных возможностей и различных информационных элементов" %}.{% endblock %}

{% block nav_help %}active{%endblock%}

{% block extra_head %}
<link rel="alternate" hreflang="x-default" href="https://bustime.loc/help/">
<link rel="canonical" href="https://{{ LANGUAGE_CODE }}.bustime.loc/help/">
{% get_available_languages as LANGUAGES %}{% for language_code, language_name in LANGUAGES %}
<link rel="alternate" hreflang="{{ language_code }}" href="https://{{ language_code }}.bustime.loc/help/" />
{% endfor %}

{% endblock %}

{% block content %}

<div class="ui big breadcrumb">
    <a class="section" href="/">{% trans "Выбор города" %}</a>
    <i class="right angle icon divider"></i>
  <div class="active section">{% trans "Справочник" %}</div>
</div>

<div class="ui divider"></div>
<div class="ui container">

<center><img src="/static/img/help/help-number.png"></center>
<div class="ui large segment">
          <p>{% trans "Выберите маршрут из списка, чтобы открыть схему маршрута" %}. {% trans "Цвет кнопки зависит от количества активного транспорта." %}
          {% trans "В центре указано название, а ниже количество транспортных средств на маршруте в прямом и обратном направлении" %}. {% trans "Знак процента указывает на маршруты со скидками" %}.</p>
</div>

<table class="ui large celled table">
  <thead>
    <tr>
    <th>{% trans "Символ и значение" %}</th>
    <th>{% trans "Описание" %}</th>
  </tr></thead>
  <tbody>
    <tr>
      <td data-label="name" class="center aligned"><a class="header" href="/help/bus/"><img style="max-width:64px" src="/static/img/theme/modern/bus.svg">
      <br/>{% trans "Автобус" %}</a></td>
      <td data-label="description">{% trans "Крупное моторное транспортное средство, предназначенное для перевозки большого числа пассажиров по заданным маршрутам в пределах города или междугородных сообщений." %}</td>
    </tr>
    <tr>
      <td data-label="name" class="center aligned"><a class="header" href="/help/trolleybus/"><img style="max-width:64px" src="/static/img/theme/modern/trolleybus.svg">
      <br/>{% trans "Троллейбус" %}</td>
      <td data-label="description">{% trans "Электрическое транспортное средство, использующее контактные провода для питания и предназначенное для перевозки пассажиров по городским маршрутам." %}</td>
    </tr>
    <tr>
      <td data-label="name" class="center aligned"><a class="header" href="/help/tramway/"><img style="max-width:64px" src="/static/img/theme/modern/tramway.svg"><br/>{% trans "Трамвай" %}</td>
      <td data-label="description">{% trans "Рельсовое транспортное средство, передвигающееся по специально проложенным путям и предназначенное для перевозки пассажиров в пределах городской транспортной системы." %}</td>
    </tr>
    <tr>
      <td data-label="name" class="center aligned"><a class="header" href="/help/bus-taxi/"><img style="max-width:64px" src="/static/img/theme/modern/bus-taxi.svg"><br/>{% trans "Маршрутное такси" %}</td>
      <td data-label="description">{% trans "Небольшой пассажирский автобус, курсирующий по фиксированному маршруту с возможностью высадки и посадки пассажиров в любом удобном месте по пути следования." %}</td>
    </tr>
    <tr>
      <td data-label="name" class="center aligned"><a class="header" href="/help/bus-intercity/"><img style="max-width:64px" src="/static/img/theme/modern/bus-intercity.svg"><br/>{% trans "Междугородний автобус" %}</td>
      <td data-label="description">{% trans "Крупное пассажирское транспортное средство, предназначенное для перевозки людей на длительные расстояния между различными городами, обеспечивающее комфортные условия во время поездки." %}</td>
    </tr>
    <tr>
      <td data-label="name" class="center aligned"><a class="header" href="/help/metro/"><img style="max-width:64px" src="/static/img/theme/modern/metro.svg"><br/>{% trans "Метро" %}</td>
      <td data-label="description">{% trans "Подземная или наземная железнодорожная система общественного транспорта, состоящая из электрических поездов, предназначенных для быстрого и массового перемещения пассажиров по городу и его пригородам." %}</td>
    </tr>
    <tr>
      <td data-label="name" class="center aligned"><a class="header" href="/help/train/"><img style="max-width:64px" src="/static/img/theme/modern/train.svg"><br/>{% trans "Поезд" %}</td>
      <td data-label="description">{% trans "Состав из нескольких вагонов, тянущийся локомотивом по рельсам и предназначенный для перевозки пассажиров и грузов на дальние расстояния между городами и регионами." %}</td>
    </tr>
    <tr>
      <td data-label="name" class="center aligned"><a class="header" href="/help/water/"><img style="max-width:64px" src="/static/img/theme/modern/ferry.svg"><br/>{% trans "Водный транспорт" %}</td>
      <td data-label="description">{% trans "Водное транспортное средство, предназначенное для перевозки пассажиров по водным маршрутам, часто используемое в прибрежных городах и для туристических экскурсий." %}</td>
    </tr>
    <tr>
      <td data-label="name" class="center aligned"><a class="header" href="/help/airplane/"><img style="max-width:64px" src="/static/img/theme/modern/airplane.svg"><br/>{% trans "Самолёт" %}</td>
      <td data-label="description">{% trans "Быстрое воздушное транспортное средство, используемое для перевозки пассажиров и грузов на дальние расстояния между городами и странами, обеспечивая регулярное и удобное сообщение." %}</td>
    </tr>
    <tr>
      <td data-label="name" class="center aligned"><a class="header" href="/help/carpool/"><img style="max-width:64px" src="/static/img/theme/modern/carpool.svg"><br/>{% trans "Попутка" %}</td>
      <td data-label="description">{% trans "Способ совместного использования автомобиля несколькими людьми, чтобы сократить расходы на топливо, снизить нагрузку на дороги и уменьшить выбросы в окружающую среду." %}</td>
    </tr>
    <tr>
      <td data-label="name" class="center aligned"><a class="header" href="/help/taxi/"><img style="max-width:64px" src="/static/img/theme/modern/taxi.svg"><br/>{% trans "Такси" %}</td>
      <td data-label="description">{% trans "Персонализированные поездки по запросу, обеспечивающие гибкость и удобство для пассажиров по сравнению с фиксированными маршрутами традиционных общественных транспортных средств." %}</td>
    </tr>
  </tbody>
</table>


<h2 class="ui header">{% trans "Индикаторы" %}</h2>
<table class="ui large celled table">
  <thead>
    <tr>
    <th class="center aligned">{% trans "Символ и значение" %}</th>
    <th>{% trans "Описание" %}</th>
  </tr></thead>
				<tr>
					<td class="center aligned"><i class="fa fa-user" style="font-size:24px"></i></td>
					<td>{% trans "Символ пассажира появляется при нажатии на остановку, что устанавливает звуковое оповещение по приезду транспорта. Обозначение видят все пользователи Bustime. Водители могут видеть, что вы ждете транспорт на данной остановке." %}</td>
				</tr>
				<tr>
					<td class="center aligned"><i class="fa fa-coffee" style="font-size:24px"></i></td>
					<td>{% trans "Индикатор статуса транспортного средства, находящегося на конечной остановке." %}</td>
				</tr>

<!-- 				<tr>
					<td><i style="font-size:32px" class="fa-moon-o icon"></i></td>
					<td>{% trans "Индикатор ночного времени, данные сервера не обновляются." %}</td>
				</tr> -->
			</table>

<div class="ui divider"></div>




			<h2 class="ui header" id="scheme">{% trans "Схема маршрута" %}</h2>
			<img src="/static/img/help/route.png" class="ui large image">
			<br/>
			{% trans "На схеме маршрута отображены остановки в двух направлениях и текущее местонахождение общественного транспорта. Рядом с названием остановки указано прогнозируемое время прибытия." %}


			<div class="ui divider"></div>
			<h2 class="ui header" id="advanced">{% trans "Дополнительные и специальные возможности" %}</h2>
			{% trans "Откройте настройки " %}<i class="fa fa-cog fa-fw fa-lg"></i>{% trans " с помощью кнопки сверху чтобы установить дополнительные параметры." %}
			{% trans "Здесь вы можете:" %}
			<ul>
				<li>{% trans "отключить звук" %}</li>
				<li>{% trans "отключить оповещения об изменении количества единиц транспорта на маршруте" %}</li>
				<li>{% trans "отключить автопоиск текущего местонахождения по GPS (ближайшие к вам остановки автоматически появляться не будут)" %}</li>
				<li>{% trans "очистить список любимых маршрутов" %}</li>
		    </ul>
			{% trans "Приложения адаптированы для" %} 
<a href="https://www.kamerata.org/bustime4blind/" target="_blank">{% trans "незрячих и слабовидящих" %}</a> 
{% trans "при участии экспертов по доступной среде " %}
<a href="https://strategy.government-nnov.ru/" target="_blank">{% trans "Проектного офиса Стратегии развития Нижегородской области" %}</a>.<br>
			{% trans "Для удобства пользования незрячими и слабовидящими пассажирами Bustime предусматривает следующие возможности:" %}
			<ul>
				<li>{% trans "голосовой поиск" %}</li>
				<li>{% trans "настраиваемое голосовое оповещение" %}</li>
				<li>{% trans "работа в фоновом режиме" %}</li>
    	</ul>

			<div class="ui divider"></div>
<h2 class="ui header">{% trans "Как работает Bustime" %}</h2>
<img class="ui large image" src="/static/img/gps-bus-data.webp">
<p>
        {% trans "Bustime предоставляет данные, основанные на анализе GPS-данных текущего местоположения общественного транспорта. Городской транспорт оснащен устройствами, которые в режиме реального времени отправляют информацию о своем местоположении через мобильный интернет. Этот процесс включает несколько этапов:" %}
    </p>
    <div class="ui bulleted list">
        <div class="item">{% trans "Данные спутниковой навигации передаются на сервер" %}</div>
        <div class="item">{% trans "На сервере данные записываются в базу данных и пересылаются на сервер Bustime" %}</div>
        <div class="item">{% trans "Сервер Bustime анализирует точки местоположения транспорта и передает обновленную информацию подключенным пользователям" %}</div>
    </div>
    <img class="ui large image" src="/static/img/sysadm.png">
    <p>{% trans "Этот механизм позволяет получать актуальную информацию о местоположении общественного транспорта в реальном времени." %}</p>
    <p>{% trans "Сайт работает на телефонах без JS, смартфонах, планшетах, ноутбуках, компьютерах, телевизорах" %}.</p>
    <p>{% trans "Есть отдельные приложения для Android и IOS" %}.</p>
</div>
			<div class="ui divider"></div>
			<h2 class="ui header" id="links">{% trans "Ссылки" %}</h2>

                <a class="ui labeled blue icon button" href="https://{{domain}}" target="_blank"><i class="fa-globe icon"></i>{% trans "Веб-сайт" %}</a><br/><br/>

				<a class="ui labeled blue icon button" href="https://play.google.com/store/apps/details?id=com.indie.bustime" target="_blank"><i class="fa-android icon"></i>{% trans "Время Автобуса" %} {% trans "для" %} Android (Google Play)</a><br/><br/>
				<a class="ui labeled blue icon button" href="https://itunes.apple.com/ru/app/id879310530" target="_blank"><i class="fa-apple icon"></i>{% trans "Время Автобуса для" %} iOS</a><br/><br/>
                                <h3>Android APK {% trans "для" %} Android 7.1+</h3>
				<a class="ui labeled blue icon button" href="https://bustime.loc/static/other/Bustime-arm64Release-323-android-v7-support.apk" target="_blank"><i class="download icon"></i>{% trans "Время Автобуса" %} {% trans "для" %} Android ARM64 (APK, v323, 2024-07-25)</a><br/><br/>
				<a class="ui labeled blue icon button" href="https://bustime.loc/static/other/Bustime-armv7Release-322-android-v7-support.apk" target="_blank"><i class="download icon"></i>{% trans "Время Автобуса" %} {% trans "для" %} Android ARMv7 (APK, v323, 2024-07-25)</a><br/><br/>




                        <div class="ui divider"></div>
                        <h2 class="ui header" id="special">{% trans "Удаление аккаунта" %}</h2>
                        {% trans "Ознакомиться с инструкцией по удалению своего аккаунта можно " %} <a href="https://{{domain}}/account_deletion/" target="_blank">{% trans "здесь" %}</a><br/><br/><br/><br/>


{% endblock %}