{% extends "base.html" %}{% load cache %}{% spaceless %}

{% block extra_head %}
{% if force_city %}
<link rel="canonical" href="http://www.bustime.ru/{{us.city.slug}}/">
{% else %}
<link rel="canonical" href="http://www.bustime.ru/">
{% endif %}

{% if main_page %}
<script>
    {% include "_js_init.html" %}
    {% if not test %}
     (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
     (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
     m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
     })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

     ga('create', 'UA-6092635-2', 'auto');
     ga('send', 'pageview');
    {% endif %}
  </script>
{% endif %}
{% endblock %}

{% block nav_main %}active{%endblock%}

{% block content %}
{% if first_time %}<div class="ui violet six item menu">
  <div class="header item">
    Город
  </div>
  <a href="/kazan/" class="item {% if us.city.id == 10 %} active{%endif%}">
    Казань
  </a>
  <a href="/krasnoyarsk/" class="item {% if us.city.id == 3 %} active{%endif%}">
    Красноярск
  </a>
  <a href="/perm/"class="item {% if us.city.id == 9 %} active{%endif%}">
    Пермь
  </a>
    <a href="/spb/" class="item {% if us.city.id == 5 %} active{%endif%}">
    Санкт-Петербург
  </a>
    <a href="/tomsk/" class="item {% if us.city.id == 7 %} active{%endif%}">
    Томск
  </a>
</div>{% endif %}
<div class="ui grid">
  <div class="center aligned column">

  <iframe id="scwidget" skip_seconds="{{radio.skip_seconds}}" srcc="https://w.soundcloud.com/player/?url={{radio.url}}&amp;auto_play=true&amp;buying=false&amp;liking=false&amp;download=false&amp;sharing=false&amp;show_artwork=false&amp;show_comments=false&amp;show_playcount=false&amp;show_user=false&amp;hide_related=true&amp;visual=false&amp;start_track=0&amp;callback=true" scrolling="no" width="0" frameborder="no" height="0"></iframe>

  {% if otto %}<i style="font-size:3em" class="fa fa-moon-o" title="Водители отдыхают"></i><br/>{% endif %}

  {% if us.premium %}
<div style="color:#555;font-weight:bold" class="{% if transaction.warning %}blink{% endif %}">{% if transaction %}Премиум до {{ transaction.end_time }}, {{transaction.countdown}}{% endif %}{% if us.pro_demo %}Премиум демо на 30 минут, начиная с {{us.pro_demo_date.hour}}:{{us.pro_demo_date.minute}}{%endif%}.</div>{% endif %}

  {% if us.city.id == 3 %}
  <div class="ui small action left icon input">
      <i class="fa-credit-card icon"></i>
      <input type="text" placeholder="Номер карты" maxlength="16" id="id_tcard" name="tcard" value="{% if tcard %}{{tcard.num}}{% endif %}" title="Номер вашей транспортной карты">
      <div class="ui tiny button" onclick="tcard_check()">баланс</div>
  </div>
  <span class="tcard_balance color-1-1{% if tcard.warning %} blink{% endif %}">
    {% if tcard %}{{tcard.balance|floatformat:"0"}} {%if tcard.social%}раз{%else%}<i class="fa fa-rub"></i>{% endif %}{% endif %}
    {% if tcard and tcard.warning %}<div class="blink" style="font-size:0.75em">менее 5 поездок</div>{% endif %}
  </span><br/><br/>
{% endif %}


        <div class="ui grid"><div class="column">
        <div class="stop_sug"></div>
        <div class="ui huge icon input">
          <input type="text" class="stops" tabindex="1" name="stops" id="id_stops" value="" placeholder="откуда">
          <i class="fa-map-marker icon"></i>
        </div>
        <div class="ui huge icon input">
          <input type="text" class="stops" tabindex="2" name="stops2" id="id_stops2" value="" placeholder="куда">
            <i class="fa-map-marker icon"></i>
        </div>
        <div class="stop_destination_result"></div>
        </div></div>
</div></div>


<!-- <center><canvas id="pixi-canvas">No  HTML5 Canvas</canvas></center> -->


</div><br/> <!--ui container -->
<div class="busnumber_container">
{%for b in busfavor%}<a class="busnumber busnumbers busfavor bw t{{b.ttype}}_{% if b.amount_int < 1 or not b.amount_int %}coloramount0{%elif b.amount_int < 3%}coloramount1{%else%}coloramount2{%endif%}" bname="{{b}}" btype="{{b.ttype}}" bus_id="{{b.id}}" href="#{{b}}">
<table>
  <tr>
   <td>{% if b.ttype == 1%}<i class="fa fa-subway"></i>{%endif%}{% if b.ttype == 2%}<i class="fa fa-train"></i>{%endif%}</td>
   <td class="color-2-1">{%if b.discount%}%{%endif%}</td>
   <td class="color-1-1"><i class="fa fa-heart"></i></td>
  </tr>
 <tr><td colspan="3">{{b.name}}</td></tr>
 <tr>
  <td colspan="3" class="busamount">
  <span class="busamount_{{b.id}}_d0 busamoun">{% if b.amount_a != None %}{{b.amount_a}}{%else%}-{% endif %}</span>/<span class="busamount_{{b.id}}_d1 busamoun">{% if b.amount_b != None %}{{b.amount_b}}{%else%}-{% endif %}</span>
  </td>
  </tr>
</table>
</a>{%endfor%}</div>
<div class="ui container main_container "> <!--again-->


<div class="ui two column stackable grid stopt">
  <div class="column">
    <div class="ui two column grid">
    <div class="column stopt_0"></div>
    <div class="column stopt_1"></div>
    </div>
  </div>
  <div class="column">
    <div class="ui two column grid">
    <div class="column stopt_2"></div>
    <div class="column stopt_3"></div>
    </div>
  </div>
</div>


{% if first_time %}{% include "_welcome.html" %}{% endif %}
<!-- <div class="central_message">
<i class="fa fa-line-chart"></i> Нажмите на автобус,  оцените работу экипажа и повлияйте на <a class="bluel" href="/{{us.city.slug}}/rating/"> ежемесячный рейтинг</a>
</div> -->

{% if error_update and us.city.id != 4  %}
<center><img src="/static/img/sur/{{error_update_img}}" /></center>
<div class="ui huge negative message">
  <i class="close icon" onclick="$(this).parent().remove()"></i>
  <div class="header">Нарушен обмен с источником данных</div>
    Сервер испытывает трудности с приёмом данных координат общественного транспорта.<br/>Ошибка была обнаружена и зарегистрирована: {{error_update|date:"F j, H:i"}}
</div>
<!-- Можно вас обнять? -->
{%endif%}

{% if us.city.id == 4 %}
<div class="ui huge negative message">
  <i class="close icon" onclick="$(this).parent().remove()"></i>
  <div class="header">Нарушен обмен с источником данных</div>
    К сожалению данные по местонахождению общественного транспорта в Калининграде стали платными и мы прекращаем поддержку этого города.
</div>
<!-- Можно вас обнять? -->
{%endif%}

<!-- <div class="ui green small button show_matrix_button">{% if us.matrix_show %}Скрыть{%else%}Показать маршруты{% endif %}</div> -->

<div class="ui four item pointing labeled icon menu">
  <a class="item modec_0{% if us.matrix_show %} active{%endif%}" onclick="change_mode(0)">
    <i class="fa-bus icon"></i> Автобусы
  </a>
  <a class="item modec_1" onclick="change_mode(1)">
    <i class="fa-subway icon"></i> Троллейбусы
  </a>
  <a class="item modec_2" onclick="change_mode(2)">
    <i class="fa-train icon"></i> Трамваи
  </a>
  <a class="item show_matrix_button">
    <i class="fa-table icon"></i> {% if us.matrix_show %}Скрыть{%else%}Показать{% endif %}
  </a>
</div>

</div><br/><div class="busnumber_container matrix" {%if not us.matrix_show %}style="display:none"{%endif%}>
{% cache 5 buslist us.city.id us.premium 13 %}{%for b in buses%}
{% ifchanged b.ttype %}
{% if not forloop.first %}</div>{%endif%}
<div class=" mode_{{b.ttype}} {% if not forloop.first %}fhidden{%endif%}">{% endifchanged %}
<a class="busnumber busnumbers bw t{{b.ttype}}_{% if b.amount_int < 1 or not b.amount_int %}coloramount0{%elif b.amount_int < 3%}coloramount1{%else%}coloramount2{%endif%}" bname="{{b}}" btype="{{b.ttype}}" bus_id="{{b.id}}" href="#{{b}}">
<table>
 <tr><td>{% if b.ttype == 1%}<i class="fa fa-subway"></i>{%endif%}{% if b.ttype == 2%}<i class="fa fa-train"></i>{%endif%}</td>
 <td class="color-2-1">{%if b.discount%}%{%endif%}</div><td></td></tr>
 <tr><td colspan="3">{{b.name}}</td></tr>
 <tr><td colspan="3" class="busamount">
  <span class="busamount_{{b.id}}_d0 busamoun">{% if b.amount_a != None %}{{b.amount_a}}{%else%}-{% endif %}</span>/<span class="busamount_{{b.id}}_d1 busamoun">{% if b.amount_b != None %}{{b.amount_b}}{%else%}-{% endif %}</span></div></td></tr></table>
</a>{%endfor%}
{% endcache %}</div>
</div><div class="ui container main_container"> <!-- container again-->


{% if not first_time %}{% include "_welcome.html" %}{% endif %}

{% if ads_show %}
 <div class="ui grid">
    <div class="column adsense_b">
    {% if device %}
    {% include "bustime_336x280_top.html" %}
    {% else %}
    {% include "bustime_728x90.html" %}
    {% endif %}
    </div>
 </div>
{% endif %}


  <div class="ui grid separ">
    <div class="column adsense_b">
      {% if ads_show %}{% include "bustime_336x280_middle.html" %}{% endif %}
    </div>
  </div>

  <div class="ui three column grid bustable">
    <div class="column"></div>
    <div class="column bustable_head_text">{{now}}</div>
    <div class="column bustable_head_update_last">
      <span class="bustable_head_last_time"></span> <i class="fa fa-wifi fa-fw"></i>
    </div>
  </div>

</div> <!-- container close up -->

 <div class="ui two column grid bus_panel bustable">
  <div class="column">
    <div id="napr_a"></div>
    <div class="schedule">
       <table class="ui table schedule_0"><tr>
          <td class="schedule_bar_l">перв. <span class="schedule_0_0"></td>
          <td class="schedule_bar_cur">след. <span class="schedule_0_1"></td>
          <td class="schedule_bar_r">посл. <span class="schedule_0_2"></td>
        </tr></table>
    </div>
    <div id="html_a"></div>
  </div>

  <div class="column">
   <div id="napr_b"></div>
   <div class="schedule">
    <table class="ui table schedule_1"><tr>
          <td class="schedule_bar_l">перв. <span class="schedule_1_0"></td>
          <td class="schedule_bar_cur">след. <span class="schedule_1_1"></td>
          <td class="schedule_bar_r">посл. <span class="schedule_1_2"></td>
        </tr></table>
    </div>
   <div id="html_b"></div>
 </div>
</div>

<div class="ui container main_container"> <!-- container again-->

<div class="ui center aligned grid bustable">
   <div class="column">
    <button class="ui big labeled icon button show_map_button">
  <i class="fa-globe icon"></i>
  Показать карту
</button>
    </div>
</div>

<div class="ui center aligned grid bustable">
   <div class="column"><div class="map"><div id="lmap"></div></div>
    </div>
</div>

<div class="ui grid vehicle_info">

    <div class="row">
    <div class="center aligned column">

      <div class="ui header">
        <div class="vehicle_info_name"></div>
        <div class="sub header vehicle_info_uniqueid"></div>
      </div>
      <div class="vehicle_info_img"></div>

      <br/><span class="vehicle_info_speed"></span> км/ч

      <i class="fa fa-fw fa-location-arrow vehicle_info_heading"></i>
      <span class="vehicle_info_heading_w"></span><br/>
      <a href="{{us.city.get_absolute_url}}rating/">Голосов: <span class="votes_wilson"></span></a><br/><span class="rate_cant_regday fhidden"></span>

      <div class="ui blue buttons">
        <button class="ui blue button rate_negative"></button>
        <div class="or" data-text="или"></div>
        <button class="ui blue button rate_positive"></button>
      </div>

        <br/><span class="rating_wilson">0</span><br/>
        <span class="rating_stars">0</span>

          <textarea class="vote_comment" rows="2" name="msg" placeholder="напишите почему вы сделали такой выбор" maxlength="140"></textarea>

          <button class="ui tiny orange button" onclick="vehicle_info_close()">закрыть</button>
          <button class="ui tiny orange button" onclick="rating_submit()">оценить</button>
    </div>
    </div>
</div>


{% endblock %}


{% block body_end %}

<div class="ui four column grid express_dial">
<div class="row">
  <div class="column"><div class="calc-mode calc-a calc-mode_selected" title="автобус"><i class="fa fa-bus" ></i></div></div>
  <div class="column"><div class="calc calc-1">1</div></div>
  <div class="column"><div class="calc calc-2">2</div></div>
  <div class="column"><div class="calc calc-3">3</div></div>
</div>

<div class="row">
  <div class="column"><div class="calc-mode calc-t" title="троллейбус"><i class="fa fa-subway"></i> </div></div>
  <div class="column"><div class="calc calc-4">4</div></div>
  <div class="column"><div class="calc calc-5">5</div></div>
  <div class="column"><div class="calc calc-6">6</div></div>
</div>

<div class="row">
  <div class="column"><div class="calc-mode calc-tv" title="трамвай"><i class="fa fa-train"></i></div></div>
  <div class="column"><div class="calc calc-7">7</div></div>
  <div class="column"><div class="calc calc-8">8</div></div>
  <div class="column"><div class="calc calc-9">9</div></div>
</div>

<div class="row">
  <div class="column"><div class="calc-mode calc-last calc-up"><i class="fa fa-chevron-up fa-fw"></i></div></div>
  <div class="column"><div class="calc calc-last calc-backspace"></div></div>
  <div class="column"><div class="calc calc-last calc-0">0</div></div>
  <div class="column"><div class="calc calc-last calc-go" title="показать"><i class="fa fa-bolt"></i></div></div>
</div>
</div>

<a class="express_fixed" onclick="express_dial_show()">
    <i class="fa fa-bolt fa-fw"></i>
</a>

{% if us.speed_show %}<div class="speed_show"></div>{% endif %}

{% if vk_like_pro %}
          <div class="ilikepro">
          <table style="width:100%;height:100%;vertical-align: middle;">
            <tr>
              <td width="67%">
                <span class="ilikepro_message boldy">Поддержите сайт вашей любовью!</span><div class="count_down boldy"></div>

<div class="jsmsg">Рекомендуем Chrome или Firefox,<br/> иначе <a href="http://www.bustime.ru/{{us.city.slug}}/classic/" target="_blank">версия для классических телефонов</a> </div>
              </td>
              <td width="33%">
                <center><div id="vk_like_pro"></div></center>
                <div style="height:20px"></div>
                <!-- <center><span class="vk_share_helper_pro"></span></center>
                <div style="height:20px"></div> -->
              <button class="vk_like_pro_continue ui pink small button">Готово!</button>
              </td>
            </tr>
          </table>
        </div>
      {% endif %}

          <div id="ph_container">
            {% if luck and not us.premium %}
            <div class="lucky_message"><img src="/static/img/lucky_bird_born.png"></div>
            {% endif %}

             {% if us.premium and luck and not us.vip %}
            <div class="lucky_message">

              <img src="/static/img/lucky_bird_born.png"><br/>
              <div class="lucky_message_advice">Удачи в дороге, хороших пассажиров!</div>
            </div>
            {% endif %}
          </div>


        <!-- <div class="corn"><img src="/static/img/swa-16.png"></div> -->
        <div class="osd_message"><img src='/static/img/bustime-splash-lq.png'/></div>
        <div class="flash_message"></div>

        <div class="ui blue left attached large button settings" onclick="window.location.href = '/settings/';">
        <i class="setting loading yellow icon"></i></div>

      <div class="ui left attached large button updated_widget">
        <i id="update-icon" class="fa fa-refresh fa-fw"></i>
        <span id="updated_widget_time">{% now "H:i:s" %}</span>
      </div>

{% endblock %}{% endspaceless %}