{% extends "base.html" %}{% load cache %}{% load i18n %}

{% block extra_head %}
{% include "_open-letter-for-transport-data.html" %}
{% endblock %}

{% block content %}
<div class="ui big breadcrumb">
    <a class="section" href="/">{% trans "Выбор города" %}</a>
    <i class="right angle icon divider"></i>
  <span class="active section">{% trans "Открытое письмо к транспортным предприятиям и администрациям городов" %}</span>
</div>

<div class="ui container text segment">
        <p>Уважаемые руководители департаментов городского транспорта,</p>
        <p>Мы обращаемся к вам с призывом сделать шаг навстречу будущему общественного транспорта, обеспечив доступ к актуальной информации о текущем местоположении общественного транспорта в режиме онлайн. В эпоху цифровых технологий открытость данных не только улучшает качество жизни граждан, но и способствует повышению их доверия и удовлетворенности общественными услугами.</p>
        <p>Доступ к данным о местоположении транспорта в реальном времени может кардинально улучшить планирование поездок для всех пользователей, уменьшить время ожидания на остановках и повысить общую привлекательность использования общественного транспорта. Это также способствует уменьшению загруженности и загрязнения окружающей среды за счет оптимизации маршрутов и расписаний.</p>
        <p>Мы настоятельно просим вас рассмотреть возможность реализации системы, которая будет не только отвечать текущим потребностям жителей, но и демонстрировать ваше стремление к инновациям и прозрачности в управлении городскими ресурсами.</p>
        <p>Благодарим вас за внимание к этому важному вопросу и надеемся на вашу поддержку в создании более открытой, доступной и удобной системы городского транспорта.</p>
        <p>С уважением,
        <p><strong>Федоров Андрей Владимирович</strong></p>
        <p>Директор</p>
        <p>Время Автобуса</p>
        <p>fedorov@bustime.loc</p>
</div>
<br/><br/>


{% endblock %}