{% extends "base.html" %}{% load cache %}
{% block content %}
<script>{% include "_js_init.html" %}</script>
<br/><br/>
<div class="ui icon large message">
  <i class="fa-clock-o icon"></i>
  <div class="content">
    <div class="header">
      Суточный лимит использования сайта 2 часа в день
    </div>
    <p>Активируйте <a href="/pro/">премиум подписку</a> для круглосуточного доступа.</p>
  </div>
</div>
<div class="ui grid"><div class="center aligned column">
            {% if us.pro_demo_date.date == now.date %}
            Сегодня профессиональный режим вы уже пробовали. <br/>Классическая версия <a href="/{{us.city.slug}}/schedule/">доступна здесь</a>.
            {%else%}
            <a href="/pro-demo/">
            <button class="ui red icon right labeled button"><i class="fa-birthday-cake icon"></i> Попробовать бесплатно, 10 мин</button>
            </a>
            {%endif%}<br/><br/>
            <form action="/pin/" method="post">
                <div class="ui action input">
                  <input type="text" name="pin" placeholder="пин-код">
                  <button class="ui blue button" type='submit'><i class="fa-diamond icon"></i> ввод</button>
                </div>
            </form>
</div></div>
<br/><br/>
{% endblock %}