{% extends "base.html" %}

{% block titlee %}{{for_date|date:"F, Y"}} - Рейтинг - {{us.city.name}} {% endblock %}
{% block meta_descr %}Рейтинг транспорта в {{city.name_gde}}. Поставьте оценку и комментарий после поездки и повлияйте на ежемесячный рейтинг.{% endblock %}

{% block extra_head %}
<link rel="canonical" href="http://www.bustime.ru/{{city.slug}}/rating/{{for_date|date:"Y-n"}}/{% if page %}page-{{page}}/{%endif%}">
{% endblock %}

{% block nav_rating %}active{%endblock%}
{% block content %}
<div class="ui breadcrumb">
  <a class="section" href="/">Главная</a>
  <div class="ui divider"> / </div>
  <a class="section" href="http://www.bustime.ru/{{city.slug}}/">Общественный транспорт в {{city.name_gde}}</a>
  <div class="ui divider"> / </div>
  <div class="active section">Рейтинг</div>
</div>
<div class="ui divider"></div>

<h1 class="ui header">Лучший водители и кондукторы в {{city.name_gde}}</h1>

<div class="ui three column grid">

<div class="column">
{% if prev_month %}
<a class="ui labeled icon button" href="/{{city.slug}}/rating/{{prev_month.year}}-{{prev_month.month}}/">
  <i class="fa fa-caret-left icon"></i>
  {{prev_month|date:"F, Y"}}
</a>
{% endif %}
</div>


<div class="column center aligned">
<div class="ui red button">{{for_date|date:"F, Y"}}</div>
{% if for_date.month == now.month and for_date.year == now.year %}
    <br/>осталось {{ until }} {{until_day_word}}
{% endif %}
</div>


<div class="column right aligned">
{% if next_month %}
<a class="ui right labeled icon button" href="/rating/{{next_month.year}}-{{next_month.month}}/">
  <i class="fa fa-caret-right icon"></i>
  {{next_month|date:"F, Y"}}
</a>
{% endif %}
</div>

</div>



<div class="ui container">
{% include "rating_pagination_.html" %}


<table class="ui celled table">
<thead><tr>
            <th>место</th>
            <th>номер/маршрут</th>
            <th>рейтинг</th><th>голосов</th>
            <th>комментарии</th>
</tr></thead>

{% for d in vehicles.object_list %}
<tr>
 <td  class="center aligned">
    <div class="small ui statistic">
  <div class="value">
     {{ d.place }}
  </div>
  <div class="label">
    место
  </div>
{% if d.place <= 3%}<i class="fa fa-trophy" style="color:{%if d.place == 1%}#ffe216{%elif d.place == 2%}#deddd4{%elif d.place == 3%}#c6ac8b{%endif%}"></i>{%endif%}
</div>
  </td>

 <td class="center aligned">
    <div class="tiny ui statistic">
  <div class="value">
     {{d.gosnum}}
  </div>
  <div class="label">
    {{d.bus}} маршрут
  </div>
  {% if d.bus.provider_name %}{{d.bus.provider_name}}{% endif %}
</div>
  </td>

 <td  class="center aligned">

  <div class="tiny ui statistic">
  <div class="value">
     {{d.rating_wilson_human}}
  </div>
  <div class="label">
    очков
  </div>
</div>




 </td>

 <td  class="center aligned">
  <div class="tiny ui statistic">
  <div class="value">
     {{d.votes_wilson}}
  </div>
  <div class="label">
    голосов
  </div>
</div>
 </td>

 <td>
  <!-- <i class="comment icon"></i> {{d.messages|length}} комментариев -->

<div class="ui list">
  {%for v in d.messages%}
  <a class="item">
    {% if v.positive%}
    <i class="fa fa-thumbs-o-up icon"></i>
    {%else%}
    <i class="fa fa-thumbs-o-down icon"></i>
    {% endif%}
    <div class="content">
      <div class="header">{{v.ctime.date}} {{v.ctime.time}}</div>
      <div class="description">{{v.comment}}</div>
    </div>
  </a>
   <!-- <li><div class="rating_time">{{v.ctime.date}} {{v.ctime.time}}</div> <div class="rating_comment">{{v.comment}}</div></li> -->
  {% endfor %}
  </div>

 </td>
</tr>
{% endfor %}
</table>

{% if for_date.month == now.month and for_date.year == now.year %}
    <div class="ui warning message">До финального подсчета голосов осталось {{ until }} {{until_day_word}}.</div>
{% endif %}

{% include "rating_pagination_.html" %}

</div>


{% endblock %}