{% extends "base.html" %}
{% load cache %}{% load i18n %}{% load l10n %}
{% get_current_language as LANGUAGE_CODE %}

{% block titlee %}{{day|date:"Y-m-d"}} / {% if uevents.0.gosnum %}{{uevents.0.gosnum}}{%else%}{{uid}}{%endif%}{%endblock%}
{% block meta_descr %}{% trans "Диспетчерский журнал на" %} {{day|date:"Y-m-d"}} {% trans "для" %} {% if uevents.0.gosnum %}{{uevents.0.gosnum}}{%else%}{{uid}}{%endif%}{% endblock %}
{% block extra_head %}
<link rel="alternate" hreflang="x-default" href="https://bustime.loc{{place.get_absolute_url}}transport/{{day|date:'Y-m-d'}}/{{uid}}/">
<link rel="canonical" href="https://{{ LANGUAGE_CODE }}.bustime.loc{{place.get_absolute_url}}transport/{{day|date:'Y-m-d'}}/{{uid}}/">
{% get_available_languages as LANGUAGES %}{% for language_code, language_name in LANGUAGES %}
<link rel="alternate" hreflang="{{ language_code }}" href="https://{{ language_code }}.bustime.loc{{place.get_absolute_url}}transport/{{day|date:'Y-m-d'}}/{{uid}}/" />
{% endfor %}

<script src="https://cdn.bustime.loc/static/js/nouislider.min.js" type="text/javascript"></script>
<link rel="stylesheet" href="https://cdn.bustime.loc/static/css/nouislider.min.css" />
<style>
#lmap {height: 550px;}
.ui .feed .event .label img {
    border-radius: unset;
}
.gosnom {
    border: none;
    background-color: transparent;
    color: black;
    font-weight: bold;
}
#load-indicator {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 64px;
    height: 64px;
    padding: 0;
    z-index: 10000;
}
.legend
{
    display: flex;
    display: -ms-flexbox;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    top: -2px;
    padding: 0;
}
.legend .legend-item
{
    color: #707070;
    flex: 0 0 auto;
    font-size: .875rem;
    opacity: 0.8;
    position: relative;
}
.legend .legend-item.light
{
    color: #707070;
    opacity: 0.5;
}
.legend .spacer
{
    background: #707070;
    flex: 1;
    height: 1px;
    margin: 0.75rem 1rem 0 1rem;
    opacity: 0.3;
}

.onroute
{
    display:inline-block;
    font-size: 20px;

}
#onroute
{
    display: none;
    margin-left: 20px;
}
.top_layer {
    z-index: 999;
}
</style>
{% endblock %}

{% block content %}

<div class="ui big breadcrumb">
    <a class="section" href="/?page=select">{% trans "Выбор города" %}</a>
    <i class="right angle icon divider"></i>
   <a class="section" href="/{{place.slug}}/">{{place.name}}</a>
   <i class="right angle icon divider"></i>
   <a class="section" href="/{{place.slug}}/transport/">{% trans "Диспетчерский журнал" %}</a>
   <i class="right angle icon divider"></i>
   <a class="section" href="/{{place.slug}}/transport/{{day|date:"Y-m-d"}}/">{{day|date:"Y-m-d"}}</a>
   {% if bus %}
   <i class="right angle icon divider"></i>
   <a class="section" href="/{{place.slug}}/transport/{{day|date:"Y-m-d"}}/?bus_id={{bus.id}}">{{bus.ttype_name}} {{bus.name}}</a>
   {% endif %}
   <i class="right angle icon divider"></i>
  <span class="active section">{% if uevents.0.gosnum %}{{uevents.0.gosnum}}{%else%}{{uid}}{%endif%}{% if uevents.0.label|length > 0 %} [{{uevents.0.label}}] {% endif %}</span>
</div>
<div class="ui divider"></div>

<!--информация-->
<div class="ui grid">
    <div class="column">
        <div class="ui tiny statistics">
          <div class="statistic">
            <div class="value" >{{probeg}}</div>
            <div class="label"><i class="fa fa-map-o" aria-hidden="true"></i> {% trans "пробег, км." %}</div>
          </div>


          <div class="statistic">
            <div class="value">
              {{uevents|length}}
            </div>
            <div class="label">
              <i class="fa fa-map-marker" aria-hidden="true"></i>{% trans "гео-событий" %}
            </div>
          </div>
          <div class="statistic">
            <div class="value">
              {{statuses_cnt}}
            </div>
            <div class="label">
              <i class="fa fa-tachometer" aria-hidden="true"></i> {% trans "состояний" %}
            </div>
          </div>
          <div class="statistic">
            <div class="value">
              {{endpoint_cnt}}
            </div>
            <div class="label">
              <i class="fa fa-retweet" aria-hidden="true"></i> {% trans "рейсов" %}
            </div>
          </div>
          <div class="statistic">
            <div class="value cur_time" >00:00:00</div>
            <div class="label"><i class="fa fa-clock-o" aria-hidden="true"></i> {% trans "время" %}</div>
          </div>
        </div>
    </div>
</div>
{% if old_day %}
<div class="ui icon message">
  <i class="exclamation icon"></i>
  <div class="content">
    <div class="header">
      {% trans "Внимание" %}
    </div>
    <p>{% trans "Данные доступны только до" %} {{ old_day.date }}</p>
  </div>
</div>
{% endif %}

<!--карта-->
<div class="map"><div id="lmap"></div></div>
<br/>
<!--легенда слайдера-->
<div class="legend ">
    <!--время начала трека-->
    <div class="legend-item light legend-item-date-range">
        <span class="availability-time-line-legend-day-count">03:00:00</span>
    </div>
    <div class="spacer"></div>
    <!--текущее время-->
    <div class="legend-item legend-item-uptime-value legend-item-rhznvxg4v7yh cur_time_legend">
    </div>
    <div class="spacer"></div>
    <!--время окончания трека-->
    <div class="legend-item light legend-item-date-range">
        02:59:00
    </div>
</div>
<br/>

<!--слайдер-->
<div id="slider"></div>
<br/>
<!--индикатор загрузки данных (невиден обычно)-->
<div id="load-indicator">
    <img src="https://cdn.bustime.loc/static/img/rred64.gif" alt="Загрузка..." />
</div>


<div class="ui stackable left aligned four column grid">
    <div class="column">
        <div class="ui huge icon button playb" onclick="play_pause()">
            <i class="fa fa-play"></i>
        </div>
        <div class="onroute"> <div  id="onroute">{% trans "Выпуск" %}: <div class="onroute" id="counter"></div>  </div> </div>
    </div>

      <div class="column left aligned">
        <div class="ui toggle checkbox">
          <input type="checkbox" tabindex="0" class="hidden" id="all_bus_cars" onchange="gettrack(this)">
          <label>{% trans "Все машины маршрута" %}</label>
        </div>
      </div>

      <div class="column left aligned">
        <div class="ui toggle checkbox">
          <input type="checkbox" tabindex="0" class="hidden" id="car_pan_map" checked="checked">
          <label>{% trans "Перемещать карту" %}</label>
        </div>
      </div>

      <div class="column left aligned top_layer">
                <div class="ui toggle checkbox">
                  <input type="checkbox" tabindex="0" class="hidden" id="car_show_track" onchange="showtrack(this)">
                  <label>{% trans "Трек" %}</label>
                </div>
                  <select style="margin-left:16px;padding:0;height:auto"class="ui dropdown" id="active_track" onchange="active_track_change(this)">
                      <option value="{{uid}}" selected="selected">{% if uevents.0.gosnum %}{{uevents.0.gosnum}}{%else%}{{uid}}{%endif%}{% if uevents.0.bortnum|length > 0 %} [{{uevents.0.bortnum}}] {% endif %}</option>
                  </select>
      </div>

</div>



<br/><br/>

<div class="ui four column stackable grid">
{% for chunk in statuses %}
    <div class="ui feed column">
        {% for status in chunk %}
          <div class="event">
              <div class="label">
               <img src="https://cdn.bustime.loc/static/img/theme/modern/{{bus.ttype_slug}}.png">
             </div>
             <div class="content">
               <div class="summary" onclick="rewind2time('{{status.city_time.time}}')" style="cursor:pointer;">
                   <a href="#time={{status.city_time.time}}">{{status.city_time.time}}
{% if status.status == 0 %}{% trans "Есть данные по ТС" %}{%endif%}
{% if status.status == 1 %}{% trans "Нет данных по ТС" %}{%endif%}
{% if status.status == 2 %}{% trans "Установлен маршрут" %}{%endif%}
{% if status.status == 3 %}{% trans "Потерян маршрут" %}{%endif%}
{% if status.status == 4 %}{% trans "Пришел на конечную" %}{%endif%}
{% if status.status == 5 %}{% trans "Зомби" %}{%endif%}
{% if status.status == 6 %}{% trans "Стоянка на конечной" %}{%endif%}
{% if status.status == 7 %}{% trans "Сошел с маршрута" %}{%endif%}
{% if status.status == 8 %}{% trans "Изменен маршрут" %}{%endif%}
</a>
               </div>
               <div class="extra text">
                <!-- {{status.get_status_display}} {{status.event_time.time}}-->
                {% if status.status == 4 and status.endpoint %}{{status.endpoint.busstop.name}}<br/>{% endif %}
                {% if status.status == 8 %}{{bus.ttype_name}} {{status.bus.name}}<br/>{% endif %}
                {% if status.zombie and 0 %}
                <div class="ui basic label">{% trans "зомби" %}</div>
                {% endif %}
                {% if status.sleeping and 0 %}
                <div class="ui basic label">{% trans "перерыв" %}</div>
                {% endif %}
                {% if status.away and 0 %}
                <div class="ui basic label">{% trans "сошел с маршрута" %}</div>
                {% endif %}
                {% if status.custom %}
                <div class="ui basic label">{% trans "прямая передача" %}</div>
                {% endif %}
               </div>
             </div>
           </div>
        {% endfor %}
    </div><!-- <div class="ui feed column"> -->
{% endfor %}
</div><!-- <div class="ui four column stackable grid"> -->

{% if request.META.HTTP_REFERER %}
<div><a class="ui button" href="{{ request.META.HTTP_REFERER }}">{% trans "Назад" %}</a></div>
{% endif %}
<br/><br/>

<script>
var map;
var cars = {};
var track_line = null;
var track = [ {% for e in uevents %}
{ uniqueid:'{{e.uniqueid}}',
gosnum:'{{e.gosnum}}',
bortnum:'{{e.bortnum}}',
timestamp:'{{e.timestamp}}',
bus_id:{{e.bus_id}},
heading:{{e.heading}},
speed:{{e.speed}},
lon:parseFloat('{{e.lon}}'.replace(',','.') ),
lat:parseFloat('{{e.lat}}'.replace(',','.') ),
direction:{{e.direction}}
},{%endfor%} ];

var time='{{time}}';
var slider = null;

function countergo() {
    counter = (Object.keys(cars)).length;
    document.getElementById("counter").innerHTML = counter;
}

function js_page_extra() {
    var OSM_STYLE = 'https://demotiles.maplibre.org/style.json';
    $('.ui.checkbox')  .checkbox();

    //console.log("Transport data");
    // var osm = new L.TileLayer('//{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    //     minZoom: 5,
    //     maxZoom: 20
    // });
    var osm = L.maplibreGL({
        style: OSM_STYLE,
        minZoom: 5, maxZoom: 20,
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    });
    var googleSat = L.tileLayer('//{s}.google.com/vt/lyrs=s&x={x}&y={y}&z={z}', {
        minZoom: 5,
        maxZoom: 20,
        subdomains: ['mt0', 'mt1', 'mt2', 'mt3']
    });

    var baseMaps = {
        "OSM": osm,
        "Спутник": googleSat
    };

    map = L.map('lmap', {
        scrollWheelZoom: true,
        layers: [osm],
        center: [{{place.point.y|unlocalize}}, {{place.point.x|unlocalize}}],
        zoom: 13
    });

    tracks = L.featureGroup().addTo(map);
    route_line = L.featureGroup().addTo(map);

    var overlayMaps = {
        "Треки": tracks,
        "Маршрут": route_line,
    };
    L.control.layers(baseMaps, overlayMaps).addTo(map);

    setMarkersRotate(); // приготовим свой маркер

    var sliderStartPos = 60 * 3;
    if( !time.length && document.location.hash.indexOf("time=") != -1){
        var t = document.location.hash.split('time=')[1].split(':');
        if(t[0].length < 2)
            t[0] = '0'+t[0];
        if(t[1].length < 2)
            t[1] = '0'+t[1];
        time = t.join(':');
    }
    // прислано время начала просмотра событий
    if( time.length ){
        var a = time.split(':');
        var h = parseInt(a[0]);
        h = (h <= 3 ? 24 : 0) + h;
        var t, t0 = 60 * h + parseInt(a[1]);
        for(var i = track.length-1; i >= 0; i--){
            var b = track[i].timestamp.split(':');
            var bb = parseInt(b[0]);
            bb = (bb <= 3 ? 24 : 0) + bb;
            t = 60 * bb + parseInt(b[1]);
            if( t <= t0 ){
                sliderStartPos = t;
                break;
            }
        }
    }   // if( time.length )

    slider = document.getElementById('slider');

    noUiSlider.create(slider, {
        connect: true,
        start: [sliderStartPos],
        step: 1,
        range: {
            /*
            минуты от начала суток, сутки начинаются и заканчиваются в 03:00
            но 00:00 = 24:00 = 60 * 24, а 03:00 = 27:00 = 60 * 27
            */
            'min': 60 * 3,
            'max': 60 * 27 - 1
        }
    });
    // https://refreshless.com/nouislider/events-callbacks/#section-binding
    slider.noUiSlider.on('update', function (values, handle, unencoded, tap, positions) {
        draw_car(parseInt(values[0]));
    });

    var request = $.ajax({
            url: "/ajax/route-line/",
            type: "get",
            data: {
                bus_id: '{{bus.id}}'
            },
            dataType: "json"
        });
    request.done(function(msg) {
        var d,color;
        for (d = 0; d < 2; d++) {
           if (msg[d]) {
              if (d === 0) {
                  color = "#74c0ec";
              } else {
                  color = "#5ec57c";
              }
              L.polyline(lonlat2latlng(msg[d]), {color: color}).addTo(route_line);
           }
        }
    });
}   // function js_page_extra()

function time_link(time) {
    var url = document.location.href;
    var url_arr = url.split('#');
    if (url_arr[1]) {
        url = url_arr[0] }
    var newUrl = url + "#time=" + time;
    history.pushState(null, null, newUrl);
}

//скрывает блок
function hidden_counter() {
  var div = document.getElementById('onroute');
  var check = document.getElementById('all_bus_cars');
  var counter = 0;
  document.getElementById("counter").innerHTML = counter;
  if(check.checked)
    div.style.display = 'block';
  else
    div.style.display = 'none'


    } //function hidden_counter()





var player = null;
function play_pause() {
    if (player) {
        clearTimeout(player);
        player = null;
        $(".playb").html('<i class="fa fa-play"></i>');
    }
    else {
        if(track.length){
            player = setTimeout(play_track, 100);
            $(".playb").html('<i class="fa fa-pause"></i>');
        }
    }
}

function play_track()
{
    var pos = parseInt(slider.noUiSlider.get());
    if( pos < slider.noUiSlider.options.range.max ){
        slider.noUiSlider.set(pos+1);
        player = setTimeout(play_track, 100);
    }
    else
        play_pause();
}

function rewind2time(stime)
{
    if( stime.length && track.length){
        if (player)
            play_pause();
        var a = stime.split(':');
        if(a[0].length < 2)
            a[0] = '0'+a[0];
        if(a[1].length < 2)
            a[1] = '0'+a[1];
        for(var i = 0; i < track.length; i++){
            var b = track[i].timestamp.split(':');
            if(a[0]==b[0] && a[1]==b[1]){
                var aa = parseInt(a[0]);
                aa = (aa <= 3 ? 24 : 0) + aa;
                var set__time = 60 * aa + parseInt(a[1]);
                slider.noUiSlider.set(set__time);
                window.scrollTo(0, 0);
                return;
            }
        }
        var aa = parseInt(a[0]);
        aa = (aa <= 3 ? 24 : 0) + aa;
        var t0 = 60 * aa + parseInt(a[1]);
        for(var i = track.length-1; i > -1 ; i--){
            var b = track[i].timestamp.split(':');
            var bb = parseInt(b[0]);
            bb = (bb <= 3 ? 24 : 0) + bb;

            var t = 60 * bb + parseInt(b[1]);

            if(t <= t0){
                slider.noUiSlider.set(t0);
                window.scrollTo(0, 0);
                return;
            }
        }
    }   // if( stime.length )
}

// ajax запрос данных трека
function gettrack(chekbox, layer = tracks)
{
    hidden_counter(); //скрытие блока
    $("#load-indicator").show();
    var car_pan_map = document.getElementById("car_pan_map");
    var car_show_track = document.getElementById("car_show_track");

    if (player) {
        play_pause();
    }

    if(chekbox.checked){
        car_pan_map.checked = false;
        car_show_track.checked = false;
        car_show_track.onchange(car_show_track);

        // все машины маршрута
        var data = {
            place_slug: '{{place.slug}}',
            uid: '',
            bus_id: {% if bus %}{{bus.id}}{% else %}0{% endif %},
            day: '{{day|date:"Y-m-d"}}'
        };
    }
    else {
        // текущая машина
        var data = {
            place_slug: '{{place.slug}}',
            uid: '{{uid}}',
            bus_id: 0,
            day: '{{day|date:"Y-m-d"}}'
        };
    }

    /*
    car_pan_map.disabled = chekbox.checked;
    car_show_track.disabled = chekbox.checked;
    */

    $.ajax({
        url: "/ajax/transport/",
        type: "post",
        data: data,
        dataType: "json",
        timeout: 60000,
        error: function(jqXHR, status, error){
            console.log(error);
            $("#load-indicator").hide();
        },
        success: function(data, status, jqXHR){
            for(var key in cars) {
                if( cars[key] ){
                    cars[key].closeTooltip();
                    cars[key].unbindTooltip();
                    cars[key].closePopup();
                    cars[key].unbindPopup();
                    cars[key].removeFrom(layer);
                    delete cars[key];
                }
            }

            track = data;

            slider.noUiSlider.reset();

            var active_track = document.getElementById("active_track");
            while (active_track.firstChild) {
                active_track.removeChild(active_track.firstChild);
            }
            options = {}

            for(var i = 0; i < track.length; i++){
                if( !options[track[i].uniqueid] ){
                    var bort = "";
                    if (track[i].bortnum) {
                        bort = " [" + track[i].bortnum + "]";
                    }
                    else {
                        bort = "";
                    }

                    options[track[i].uniqueid] = track[i].gosnum + bort ;
                }
            }
            for (var key in options){
                var opt = document.createElement('option');
                opt.value = key;
                opt.innerHTML = options[key];
                opt.selected = (key == '{{uid}}')
                active_track.appendChild(opt);
            }

            $("#load-indicator").hide();
        }
    });
}   // function gettrack(chekbox)






// отрисовка трека
function showtrack(chekbox, layer = tracks)
{
    // стираем трек
    if(track_line){
        track_line.removeFrom(layer);
        track_line = null;
    }

    if(chekbox.checked && /*Object.keys(cars).length == 1 &&*/ track.length > 0){
        var active_track = document.getElementById("active_track").value;
        // рисуем трек
        var latlng = [];
        for (var i = 0; i < track.length; i++) {
          if(track[i].uniqueid == active_track)
            latlng.push([track[i].lat, track[i].lon]);
        }
        if(latlng.length){
            track_line = L.polyline(latlng, {color: "#CC3300"});
            track_line.addTo(layer);
        }
    }
}   // function showtrack(chekbox)

// изменилось меню машины трека
function active_track_change(select)
{
    showtrack(document.getElementById("car_show_track"));
}

// отрисовка машины по массиву
// index - минута от начала суток (в интервале 0-1439)
function draw_car(index, layer = tracks)
{
    // выбранное время на легенде
    var h = Math.floor(index / 60);
    var m = index - h * 60;
    var s = '00';
    if(h >= 24)
        h = h - 24;
    if(h < 10)
        h = '0'+h;
    if(m < 10)
        m = '0'+m;
    $(".cur_time_legend").html(h + ':' + m + ':' + s);
    var ti = h + ":" + m;

    /* выбрать все события из массива track в интервале времени от index-1 до index,
    например: index = 175 = 02:55 (02=floor(175/60), 55=175-floor(175/60)*60),
    значит все события в интервале от 02:54 до 02:55
    в массиве track время события хранится так: timestamp:'05:50:28'
    и события упорядочены по времени
    */

    var i, seconds = index * 60;

    var new_cars = {};
    for (i = 0; i < track.length; i++) {
        var at = track[i].timestamp.split(':');
        var h = parseInt(at[0]);
        h = (h <= 3 ? 24 : 0) + h;
        var it = h * 3600 + parseInt(at[1]) * 60 + parseInt(at[2]);
        // пропускаем время, не интересующее нас
        if( it < seconds - 60 )
            continue;
        if( it > seconds )
            continue;
        // собираем последние оотметки машин в интересующем нас интервале
        new_cars[track[i].uniqueid] = {'index_in_track': i, 'minutes': parseInt(h) * 60 + parseInt(at[1]), 'seconds': it};
    }   // for (i = 0; i < track.length; i++)

    $.each(new_cars, function(uniqueid, value) {
        // чистим изменяемую машину
        var car = cars[uniqueid];
        if( car ){
            car.closeTooltip();
            car.unbindTooltip();
            car.closePopup();
            car.unbindPopup();
            car.removeFrom(layer);
            cars[uniqueid] = null;  // delete object L.marker from memory
        }

        // выводим машину
        var point = track[value.index_in_track];
        var bort = "";
        if (point.bortnum) {
            bort = " [" + point.bortnum + "]";
        }
        else {
           bort = "";
        }
        var popupHtml = "<table><col width='10%'><col width='*'>"
                        + "<tr><td colspan='2' align='center'><b>" + point.gosnum + bort + "</b></td></tr>"
                        + "<tr><td><b>ID:</b></td><td>" + point.uniqueid + "</td></tr>"
                        + "<tr><td><b>T:</b></td><td>" + point.timestamp + "</td></tr>"
                        + "<tr><td><b>lat:</b></td><td>" + point.lat + "</td></tr>"
                        + "<tr><td><b>lon:</b></td><td>" + point.lon + "</td></tr>"
                        + "<tr><td><b>Az:</b></td><td>" + (point.heading ? point.heading : 0) + " &ordm;</td></tr>"
                        + "<tr><td><b>V:</b></td><td>" + point.speed + " км/ч</td></tr>"
                        + "</table>";

        var labelHtml = "<b>" + point.gosnum + "</b>";

        // icon стрелка направления движения
        // https://www.w3schools.com/Colors/colors_names.asp
        if(uniqueid == '{{uid}}'){  // выбранный автобус
            fill = '#ffe216';
            stroke = 'red';     // do not use HEX-colors, svg error
            strokeWidth = '3';
        }
        else {
            fill = '#ffe216';   // C0C0C0
            stroke = 'gray';
            strokeWidth = '2';
        }
        var starSvgString = "<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 50 50' version='1.1' width='100px' height='100px'>"
        + "<g id='surface1' fill-opacity='1' fill='"+fill+"' stroke-opacity='1' stroke='"+stroke+"' opacity='1'>"
        + " <path style=' ' stroke-width='"+strokeWidth+"' d='M 25 0 C 24.609375 0 24.257813 0.238281 24.09375 0.59375 L 2.1875 48.59375 C 2.019531 48.960938 2.097656 49.390625 2.375 49.6875 C 2.566406 49.890625 2.824219 50 3.09375 50 C 3.214844 50 3.351563 49.984375 3.46875 49.9375 L 25 41.65625 L 46.53125 49.9375 C 46.914063 50.082031 47.347656 49.984375 47.625 49.6875 C 47.902344 49.390625 47.980469 48.960938 47.8125 48.59375 L 25.90625 0.59375 C 25.742188 0.238281 25.390625 0 25 0 Z '/>"
        + " </g>"
        + "</svg>";
        var myIconUrl = encodeURI("data:image/svg+xml," + starSvgString).replace('#','%23');

        cars[uniqueid] = L.marker([point.lat, point.lon], {
            icon: new L.icon({
                iconUrl: myIconUrl,
                iconSize: 30,
            }),
            draggable: false,
            rotationAngle: point.heading,
            rotationOrigin: 'center',
            // добавим свойства:
            timestamp: point.timestamp,
            minutes: value.minutes,
            seconds: value.seconds,
        })
        .bindPopup(popupHtml)   // pup-up при клике
        .bindTooltip(labelHtml, {permanent: true, offset: [10, -25], className: 'gosnom'}); // hint при mouseover

        cars[uniqueid].addTo(layer);

        // текущее время отметки трека в информации
        $(".cur_time").html(point.timestamp);

        if( $("#car_pan_map").prop("checked") && uniqueid == '{{uid}}' )
            map.panTo([point.lat, point.lon]);
    }); // $.each(new_cars, function(uniqueid, index)

    // удаляем машины, сигнала от которых нет более 5 минут
    $.each(cars, function(uniqueid) {
        if( !new_cars[uniqueid] ){  // skip newests
            car = cars[uniqueid];
            if( Math.abs(index - car.options.minutes) > 5 ){
                car.closeTooltip();
                car.unbindTooltip();
                car.closePopup();
                car.unbindPopup();
                car.removeFrom(layer);
                cars[uniqueid] = null;  // delete object L.marker from memory
                //
                delete cars[uniqueid];  // delete property of cars object
            }
        }   // if( !new_cars[uniqueid] )
    }); // $.each(cars, function(uniqueid, car_index)
    countergo(); // update Выпуск
    time_link(ti);
}   // function route_draw_car

// https://leafletjs.com/examples/extending/extending-1-classes.html
// https://leafletjs.com/examples/custom-icons/
// https://github.com/Leaflet/Leaflet/blob/master/src/layer/marker/Marker.js
// https://leafletjs.com/examples
// https://github.com/bbecquet/Leaflet.RotatedMarker
function setMarkersRotate()
{
    // save these original methods before they are overwritten
    var proto_initIcon = L.Marker.prototype._initIcon;
    var proto_setPos = L.Marker.prototype._setPos;

    var oldIE = (L.DomUtil.TRANSFORM === 'msTransform');

    L.Marker.addInitHook(function () {
        var iconOptions = this.options.icon && this.options.icon.options;
        var iconAnchor = iconOptions && this.options.icon.options.iconAnchor;
        if (iconAnchor) {
            iconAnchor = (iconAnchor[0]/2 + 'px ' + iconAnchor[1]/2 + 'px');
        }
        this.options.rotationOrigin = this.options.rotationOrigin || iconAnchor || 'center bottom' ;
        this.options.rotationAngle = this.options.rotationAngle || 0;
        if( this.options.circle )
            this.options.circle.radius = this.options.circle.radius || 0;

        // Ensure marker keeps rotated during dragging
        this.on('drag', function(e) { e.target._applyRotation(); });
    });

    L.Marker.include({
        _circleLayer: null,

        _initIcon: function() {
            proto_initIcon.call(this);
        },

        _setPos: function (pos) {
            proto_setPos.call(this, pos);
            this._applyRotation();
        },

        _applyRotation: function () {
            if( this._circleLayer ){
                this._circleLayer.remove();
                this._circleLayer = null;
            }

            if(this.options.circle && this.options.circle.radius) {
                this._circleLayer = L.circle(this.getLatLng(), {
                                                color: this.options.circle.color || '#6F6F6F',
                                                fillColor: this.options.circle.fillColor || '#9F9F9F',
                                                fillOpacity: this.options.circle.fillOpacity || .5,
                                                radius: this.options.circle.radius
                });
                this._circleLayer.addTo(this._map);
            }

            if(this.options.rotationAngle) {
                this._icon.style[L.DomUtil.TRANSFORM+'Origin'] = this.options.rotationOrigin;

                if(oldIE) {
                    // for IE 9, use the 2D rotation
                    this._icon.style[L.DomUtil.TRANSFORM] = 'rotate(' + this.options.rotationAngle + 'deg)';
                } else {
                    // for modern browsers, prefer the 3D accelerated version
                    this._icon.style[L.DomUtil.TRANSFORM] += ' rotateZ(' + this.options.rotationAngle + 'deg)';
                }
            }
        },

        setRotationAngle: function(angle) {
            this.options.rotationAngle = angle;
            this.update();
            return this;
        },

        setRotationOrigin: function(origin) {
            this.options.rotationOrigin = origin;
            this.update();
            return this;
        },

        setRadius: function(radius) {
            this.options.circle.radius = radius;
            this.update();
            return this;
        }
    });
}   // function setMarkersRotate()

function onMapClick(e) {
    var lat,lng = e.latlng;
    lat = e.latlng.lat.toFixed(7);
    lng = e.latlng.lng.toFixed(7);
    //bus_stop_set(lng, lat);
}

function lonlat2latlng(lonlat) {
    var latlng = [];
    for (var i in lonlat) {
      latlng.push([lonlat[i][1], lonlat[i][0]]);
    }
    return latlng;
}

</script>
{% endblock %}
